# Imports, Functions & Testing

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import pickle
from bs4 import BeautifulSoup

In [2]:
def gen_election_cleaner(df, verbose=1):
    import pandas as pd
    
    df_cln = df.copy()
    
    if verbose in [1,2]:
        ## Printing startpoint
        print('O.G. Copy:')
        print('---'*20)
        display(df_cln)

    ## Setting columns manually + Q.C.
    df_cln.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
    if verbose == 2:
        print('\nNew Column Headers:')
        print('---'*20)
        display(df_cln)

    ## Dropping irrelevant information + Q.C.
    df_cln.drop(index=[0, 6, 8], inplace=True)
    if verbose == 2:
        print('\nDropping Rows:')
        print('---'*20)
        display(df_cln)

    ## Flip and place Turnout as its own feature + Q.C.
    for idx, v, k in zip(df_cln.index, df_cln['Null'], df_cln['Null'].isna()):
        if not k:
            df_cln[v] = df_cln['Party'][idx]

    ## Removing the row with turnout info/column with nulls + Q.C.
    df_cln.drop(columns='Null', index=7, inplace=True)
    if verbose in [1,2]:
        print('\nFinal Version:')
        print('---'*20)
        display(df_cln)

    return df_cln

In [3]:
def wiki_senate_scraper():
    import pandas as pd
    import numpy as np
    import requests
    from bs4 import BeautifulSoup
    
    ## Starting page + Q.C. of response
    start_url = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
    start_resp = requests.get(start_url)
    print(f'Starting Response: {start_resp}')
    
    ## Creating soup + pulling all links for senate elections after 17th amendment
    start_soup = BeautifulSoup(start_resp.text, 'html.parser')
    start_links = start_soup.findAll('a')
    start_sen_links = start_links[78:134] ## Previously located
    
    ## Base of url for all senate election pages
    base_url = 'https://en.wikipedia.org'
    
    ## Loop same process for all links + storage
    yr_dfs = {}
    yr_tocs = {}
    count = 0
    for link in start_sen_links:

        ## Q.C during execute
        count += 1
        if count in [25, 50]:
            print('Checkpoint! (25 loops)')
        
        ## Collecting strings for use
        end_url = link.get('href')
        year = link.get_text()
        full_url = base_url + end_url
        
        ## Making soup + collecting all tables
        link_resp = requests.get(full_url)
        link_soup = BeautifulSoup(link_resp.text, 'html.parser')
        link_tables = link_soup.findAll('table', attrs={'class': ['wikitable', 'infobox vevent', 'infobox']})
        
        ## Collecting list of states with elections in each year
        link_toc = link_soup.find('div', attrs={'id':'toc'})
        link_toc = link_toc.findAll('a', href=is_state)
        toc_list = [tag.get('href').replace('#', '') for tag in link_toc]
        
        ## Converting to dataframe + storage
        elect_df = pd.read_html(str(link_tables))
        yr_dfs[year] = elect_df
        yr_tocs[year] = toc_list
    
    print(f'Total pages scraped: {count}')
    return yr_dfs, yr_tocs

## https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-filters

In [4]:
def is_state(href):
    states_list = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 
                   'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
                   'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                   'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                   'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                   'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New_Hampshire',
                   'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina',
                   'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                   'Rhode_Island', 'South_Carolina', 'South_Dakota',
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
                   'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming']
    for state in states_list:
        if state in href:
            return href

In [5]:
def election_collector(dict_tables, dict_lists):
    
    ## Requirement of proper dictionaries
    if dict_tables.keys() != dict_lists.keys():
        print('**WARNING**')
        print('Keys do not match in dictionaries passed. Adjust and try again.')
        return '***'*10
    
    ## Containers for results
    coll_elects = {}
    
    ## List creation for looping through dicts
    yr_list = list(dict_lists.keys())
    
    ## Looping + storage
    for year in yr_list:
        print('***'*10)
        print(f"Collecting {year}'s elections...")
        yr_tables = dict_tables[year]
        yr_toc = dict_lists[year]
        
        ## Creating containers to further separate data
        yr_sum_ldrs = yr_tables[2]
        most_tables = yr_tables[3:]
        yr_summary = []
        yr_states = []
        count = 0
        
        for i, df in enumerate(most_tables):
            if count < 1:
                if df.shape[1] is 6 and most_tables[i+1].shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
                    yr_summary.append(most_tables[i+1])
                    continue
                elif df.shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
            
            if df.shape[1] in [4,5,6] and df.shape[0] < 15:
                yr_states.append(most_tables[i])
        
        coll_elects[year] = [yr_sum_ldrs, yr_summary, yr_states]
        
    print('\n')
    print('---'*20)
    print(f'Collection Complete: Data is for {yr_list[0]} - {yr_list[-1]}')
    print('---'*20)
    return coll_elects

# Initial Data

> [Link to Dataset](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/PEJ5QU)

In [6]:
df = pd.read_csv('dataverse_files/1976-2018-senate.csv', encoding='latin-1')
df.head()

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Sam Steiger,republican,False,total,321236,741210,False,20171011.0
1,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Wm. Mathews Feighan,independent,False,total,1565,741210,False,20171011.0
2,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Dennis DeConcini,democrat,False,total,400334,741210,False,20171011.0
3,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Allan Norwitz,libertarian,False,total,7310,741210,False,20171011.0
4,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Bob Field,independent,False,total,10765,741210,False,20171011.0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421 entries, 0 to 3420
Data columns (total 18 columns):
year              3421 non-null int64
state             3421 non-null object
state_po          3421 non-null object
state_fips        3421 non-null int64
state_cen         3421 non-null int64
state_ic          3421 non-null int64
office            3421 non-null object
district          3421 non-null object
stage             3421 non-null object
special           3421 non-null bool
candidate         3011 non-null object
party             2858 non-null object
writein           3421 non-null bool
mode              3421 non-null object
candidatevotes    3421 non-null int64
totalvotes        3421 non-null int64
unofficial        3421 non-null bool
version           3420 non-null float64
dtypes: bool(3), float64(1), int64(6), object(8)
memory usage: 411.0+ KB

In [8]:
df[(df['state_po'] == 'AZ') & (df['year'] == 1976)]

,year,state,state_po,state_fips,state_cen,state_ic,office,district,stage,special,candidate,party,writein,mode,candidatevotes,totalvotes,unofficial,version
0,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Sam Steiger,republican,False,total,321236,741210,False,20171011.0
1,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Wm. Mathews Feighan,independent,False,total,1565,741210,False,20171011.0
2,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Dennis DeConcini,democrat,False,total,400334,741210,False,20171011.0
3,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Allan Norwitz,libertarian,False,total,7310,741210,False,20171011.0
4,1976,Arizona,AZ,4,86,61,US Senate,statewide,gen,False,Bob Field,independent,False,total,10765,741210,False,20171011.0

In [9]:
# len(df[df['candidate'].isna()])

# df['writein'].value_counts()

# for col in df:
#     display(df[col].value_counts())

# pd.Series.value_counts()

# Additional Data

Current set of features includes:
* Year of election
* State (encoded)
*

> [Link to Brookings](https://www.brookings.edu/multi-chapter-report/vital-statistics-on-congress/)

> [Link to BallotPedia](https://ballotpedia.org/Legislative_Branch)

> [Link to WikiPedia](https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections)

> [Link to Wiki-Category (U.S. Senator)](https://commons.wikimedia.org/wiki/Category:Senators_of_the_United_States)

## Testing tables 'infobox vevent'

In [10]:
# url3 = 'https://en.wikipedia.org/wiki/1978_United_States_Senate_elections'
# response3 = requests.get(url3)
# print(response3)

# soup3 = BeautifulSoup(response3.text, 'html.parser')
# wiki_tables3 = soup3.findAll('table', attrs={'class': ['wikitable', 'infobox vevent']})

# print(type(wiki_tables3))

# test_df3 = pd.read_html(str(wiki_tables3))

# tester = test_df3[0]

In [11]:
# https://stackoverflow.com/questions/27156278/index-pandas-dataframe-by-column-numbers-when-column-names-are-integers
# tester.columns = ['a', 'b', 'c']
# display(tester.iloc[6:18,0:3])

# display(test_df3[2])

In [12]:
# url = 'https://en.wikipedia.org/wiki/1976_United_States_Senate_elections'
# response = requests.get(url)
# print(response)

# soup = BeautifulSoup(response.text, 'html.parser')
# wiki_tables = soup.findAll('table', attrs={'class': 'wikitable'})

# type(wiki_tables)

In [13]:
# test_df = pd.read_html(str(wiki_tables))
# display(test_df[0])

# len(test_df)

## Pulling state election tables

In [14]:
# ## Pulling Arizona gen election results
# tester = test_df[5].copy()
# print('O.G. Copy:')
# print('---'*20)
# display(tester)

# ## Setting columns manually + Q.C.
# tester.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
# print('\nNew Column Headers:')
# print('---'*20)
# display(tester)

# ## Dropping irrelevant information + Q.C.
# tester.drop(index=[0, 6, 8], inplace=True)
# print('\nDropping Rows:')
# print('---'*20)
# display(tester)

# ## Flip and place Turnout as its own feature + Q.C.
# for idx, v, k in zip(tester.index, tester.Null, tester.Null.isna()):
#     if not k:
#         #print(idx, v)
#         tester[v] = tester.Party[idx]

# ## Removing the row with turnout info/column with nulls + Q.C.
# try:
#     tester.drop(columns='Null', index=7, inplace=True)
#     print('\nFinal Version:')
#     print('---'*20)
#     display(tester)
# except:
#     print('Something went wrong!')

In [15]:
# type(tester['Votes'][5]) # str

In [16]:
# tester2 = gen_election_cleaner(test_df[6], verbose=2)

In [17]:
# test_df[-1]

In [18]:
# url2 = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [19]:
# url2 = 'https://en.wikipedia.org/wiki/2018_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [20]:
# soup2 = BeautifulSoup(response2.text, 'html.parser')
# wiki_toc = soup2.find('div', attrs={'id':'toc'})
# wiki_toc = wiki_toc.findAll('a', href=is_state)
# display(wiki_toc[0:5])
# jiji = wiki_toc[0:5]

# jiji = [tag.get('href').replace('#', '') for tag in jiji]
# jiji = jiji
# jiji

## Working

In [21]:
# test = wiki_links[78:134]
# beeb = test[0].get_text()
# geeb = 'https://en.wikipedia.org'
# geeb + beeb

In [22]:
# display(elect_yr_dfs.keys())
# display(elect_yr_tocs.keys())
# display(len(elect_yr_dfs) == len(elect_yr_tocs))
# elect_yr_dfs.keys() != elect_yr_tocs.keys()
# list(elect_yr_dfs.keys())

In [23]:
# elect_yr_dfs['1918']

In [24]:
# elect_yr_tocs['1918']

In [25]:
# year = '1924'

# for i, df in enumerate(elect_yr_dfs[year]):
#     print(i, df.shape)

# display(elect_yr_dfs[year][10])
# elect_yr_dfs[year][10].shape[1] is 6

In [26]:
# koko = {v:elect_yr_dfs[v] for v in ['1918', '1924', '1976', '2016', '2018']}
# lplp = {v:elect_yr_tocs[v] for v in ['1918', '1924', '1976', '2016', '2018']}

In [27]:
# year = '2016'

# for v in ftft[year]:
#     print(len(v))
    
# ftft[year][1]

In [86]:
# yuyu = test_res[-1].append(test_res[-2], ignore_index=True)
# yuyu

In [59]:
# yuyu = test_res[-1].iloc[1,:] == test_res[-2].iloc[1,:]
# yuyu.sum()

In [87]:
# len(test_res)

## Getting it together

In [34]:
# elect_yr_tables, elect_yr_tocs = wiki_senate_scraper()

# election_collection_raw = election_collector(elect_yr_tables, elect_yr_tocs)

******************************
Collecting 1914's elections...
******************************
Collecting 1916's elections...
******************************
Collecting 1918's elections...
******************************
Collecting 1920's elections...
******************************
Collecting 1922's elections...
******************************
Collecting 1924's elections...
******************************
Collecting 1926's elections...
******************************
Collecting 1928's elections...
******************************
Collecting 1930's elections...
******************************
Collecting 1932's elections...
******************************
Collecting 1934's elections...
******************************
Collecting 1936's elections...
******************************
Collecting 1938's elections...
******************************
Collecting 1940's elections...
******************************
Collecting 1942's elections...
******************************
Collecting 1944's elections...
******************************
Collecting 1946's elections...
******************************
Collecting 1948's elections...
******************************
Collecting 1950's elections...
******************************
Collecting 1952's elections...
******************************
Collecting 1954's elections...
******************************
Collecting 1956's elections...
******************************
Collecting 1958's elections...
******************************
Collecting 1960's elections...
******************************
Collecting 1962's elections...
******************************
Collecting 1964's elections...
******************************
Collecting 1966's elections...
******************************
Collecting 1968's elections...
******************************
Collecting 1970's elections...
******************************
Collecting 1972's elections...
******************************
Collecting 1974's elections...
******************************
Collecting 1976's elections...
******************************
Collecting 1978's elections...
******************************
Collecting 1980's elections...
******************************
Collecting 1982's elections...
******************************
Collecting 1984's elections...
******************************
Collecting 1986's elections...
******************************
Collecting 1988's elections...
******************************
Collecting 1990's elections...
******************************
Collecting 1992's elections...
******************************
Collecting 1994's elections...
******************************
Collecting 1996's elections...
******************************
Collecting 1998's elections...
******************************
Collecting 2000's elections...
******************************
Collecting 2002's elections...
******************************
Collecting 2004's elections...
******************************
Collecting 2006's elections...
******************************
Collecting 2008's elections...
******************************
Collecting 2010's elections...
******************************
Collecting 2012's elections...
******************************
Collecting 2014's elections...
******************************
Collecting 2016's elections...
******************************
Collecting 2018's elections...
******************************
Collecting 2020's elections...
******************************
Collecting 2022's elections...
******************************
Collecting 2024's elections...


------------------------------------------------------------
Collection Complete: Data is for 1914 - 2024
------------------------------------------------------------

In [37]:
# with open('election_collection_raw.pickle', 'wb') as f:
#     pickle.dump(election_collection_raw, f)
#     f.close()

In [6]:
with open('election_collection_raw.pickle', 'rb') as f:
    election_collection_raw = pickle.load(f)
    f.close()

In [22]:
year = '2006'

display(election_collection_raw.keys())
print('\n')
for grp in election_collection_raw[year]:
    print(len(grp))
print('\n')
display(election_collection_raw[year][0])
display(election_collection_raw[year][1])
display(election_collection_raw[year][2])

dict_keys(['1914', '1916', '1918', '1920', '1922', '1924', '1926', '1928', '1930', '1932', '1934', '1936', '1938', '1940', '1942', '1944', '1946', '1948', '1950', '1952', '1954', '1956', '1958', '1960', '1962', '1964', '1966', '1968', '1970', '1972', '1974', '1976', '1978', '1980', '1982', '1984', '1986', '1988', '1990', '1992', '1994', '1996', '1998', '2000', '2002', '2004', '2006', '2008', '2010', '2012', '2014', '2016', '2018', '2020', '2022', '2024'])

25
2
103

                0                          1                    2
0             NaN                        NaN                  NaN
1          Leader                 Harry Reid  Bill Frist(retired)
2           Party                 Democratic           Republican
3    Leader since            January 3, 2005      January 3, 2003
4   Leader's seat                     Nevada            Tennessee
5    Seats before                         44                   55
6     Seats after                         49                   49
7     Seat change                          5                    6
8    Popular vote                   32344708             25437934
9      Percentage                      53.2%                41.8%
10          Swing                       2.4%                 3.5%
11       Seats up                         15                   15
12      Races won                         22                    9
13            NaN                        NaN                  NaN
14            NaN                        NaN                  NaN
15          Party  Connecticut for Lieberman          Independent
16  Last election                          0                    1
17   Seats before                          0            1[Note 1]
18    Seats after                  1[Note 2]            1[Note 3]
19    Seat change                          1                  NaN
20   Popular vote                     564095               378142
21     Percentage                        0.8                 0.6%
22          Swing                        New                 0.2%
23       Seats up                          0                    1
24      Races won                          1                    1

[                0               1                       2                3  \
 0           State       Incumbent         Crystal Ball[2]    Rothenberg[3]
 1         Arizona         Kyl (R)                 Leans R          Leans R
 2      California   Feinstein (D)                  Safe D           Safe D
 3     Connecticut   Lieberman (D)         Leans Lieberman           Safe D
 4        Delaware      Carper (D)                  Safe D           Safe D
 5         Florida      Nelson (D)                  Safe D           Safe D
 6          Hawaii       Akaka (D)                  Safe D           Safe D
 7         Indiana       Lugar (R)                  Safe R           Safe R
 8           Maine       Snowe (R)                  Safe R           Safe R
 9        Maryland  (Sarbanes) (D)                 Leans D          Leans D
 10  Massachusetts     Kennedy (D)                  Safe D           Safe D
 11       Michigan    Stabenow (D)                Likely D         Likely D
 12      Minnesota    (Dayton) (D)                Likely D           Safe D
 13    Mississippi        Lott (R)                  Safe R           Safe R
 14       Missouri      Talent (R)  Tossup D Pickup (flip)   Leans D (flip)
 15        Montana       Burns (R)          Leans D (flip)   Leans D (flip)
 16       Nebraska      Nelson (D)                Likely D         Likely D
 17         Nevada      Ensign (R)                  Safe R           Safe R
 18     New Jersey    Menendez (D)           Tossup D Hold          Leans D
 19     New Mexico    Bingaman (D)                  Safe D           Safe D
 20       New York     Clinton (D)                  Safe D           Safe D
 21           Ohio      DeWine (R)         Likely D (flip)  Likely D (flip)
 22   Pennsylvania    Santorum (R)           Safe D (flip)  Likely D (flip)
 23   Rhode Island      Chafee (R)          Leans D (flip)   Leans D (flip)
 24      Tennessee     (Frist) (R)                 Leans R           Tossup
 25          Texas   Hutchison (R)                  Safe R           Safe R
 26           Utah       Hatch (R)                  Safe R           Safe R
 27     Washington    Cantwell (D)                Likely D         Likely D
 28  West Virginia        Byrd (D)                  Safe D           Safe D
 29        Vermont  (Jeffords) (I)                  Safe D           Safe D
 30       Virginia       Allen (R)  Tossup D Pickup (flip)   Leans D (flip)
 31      Wisconsin        Kohl (D)                  Safe D           Safe D
 32        Wyoming      Thomas (R)                  Safe R           Safe R

                  4               5
 0          Cook[4]          Result
 1          Leans R         Kyl (R)
 2           Safe D   Feinstein (D)
 3           Safe D   Lieberman (D)
 4           Safe D      Carper (D)
 5           Safe D      Nelson (D)
 6           Safe D       Akaka (D)
 7           Safe R       Lugar (R)
 8           Safe R       Snowe (R)
 9           Tossup      Cardin (D)
 10          Safe D     Kennedy (D)
 11         Leans D    Stabenow (D)
 12        Likely D   Klobuchar (D)
 13          Safe R        Lott (R)
 14          Tossup   McCaskill (D)
 15          Tossup      Tester (D)
 16          Safe D      Nelson (D)
 17          Safe R      Ensign (R)
 18          Tossup    Menendez (D)
 19          Safe D    Bingaman (D)
 20          Safe D     Clinton (D)
 21  Leans D (flip)       Brown (D)
 22  Leans D (flip)       Casey (D)
 23          Tossup  Whitehouse (D)
 24          Tossup      Corker (R)
 25          Safe R   Hutchison (R)
 26          Safe R       Hatch (R)
 27        Likely D    Cantwell (D)
 28          Safe D        Byrd (D)
 29        Likely D     Sanders (I)
 30          Tossup        Webb (D)
 31          Safe D        Kohl (D)
 32          Safe R      Thomas (R)  ,
                                  0                     1                  2  \
 0   State(linked tosections below)             Incumbent            Results
 1                          Senator                 Party  Electoral history
 2                          Arizona               Jon Kyl         Republican
 3                       California      Dianne Feinstein         Democratic
 4                      Connecticut         Joe Lieberman         Democratic
 5                         Delaware            Tom Carper         Democratic
 6                          Florida           Bill Nelson         Democratic
 7                           Hawaii          Daniel Akaka         Democratic
 8                          Indiana         Richard Lugar         Republican
 9                            Maine         Olympia Snowe         Republican
 10                        Maryland         Paul Sarbanes         Democratic
 11                   Massachusetts           Ted Kennedy         Democratic
 12                        Michigan       Debbie Stabenow         Democratic
 13                       Minnesota           Mark Dayton         Democratic
 14                     Mississippi            Trent Lott         Republican
 15                        Missouri            Jim Talent         Republican
 16                         Montana          Conrad Burns         Republican
 17                        Nebraska            Ben Nelson         Democratic
 18                          Nevada           John Ensign         Republican
 19                      New Jersey          Bob Menendez         Democratic
 20                      New Mexico         Jeff Bingaman         Democratic
 21                        New York       Hillary Clinton         Democratic
 22                    North Dakota           Kent Conrad         Democratic
 23                            Ohio           Mike DeWine         Republican
 24                    Pennsylvania         Rick Santorum         Republican
 25                    Rhode Island        Lincoln Chafee         Republican
 26                       Tennessee            Bill Frist         Republican
 27                           Texas  Kay Bailey Hutchison         Republican
 28                            Utah           Orrin Hatch         Republican
 29                         Vermont          Jim Jeffords        Independent
 30                        Virginia          George Allen         Republican
 31                      Washington        Maria Cantwell         Democratic
 32                   West Virginia           Robert Byrd         Democratic
 33                       Wisconsin             Herb Kohl         Democratic
 34                         Wyoming       Craig L. Thomas         Republican

                                              3  \
 0                                   Candidates
 1                                          NaN
 2                                     19942000
 3                       1992 (Special)19942000
 4                                 198819942000
 5                                         2000
 6                                         2000
 7       1990 (Appointed)1990 (Special)19942000
 8                         19761982198819942000
 9                                     19942000
 10                        19761982198819942000
 11  1962 (Special)1964197019761982198819942000
 12                                        2000
 13                                        2000
 14                                198819942000
 15                              2002 (Special)
 16                                198819942000
 17                                        2000
 18                                        2000
 19                            2006 (Appointed)
 20                            1982198819942000
 21                                        2000
 22    19861992 (Retired)1992 (Special)19942000
 23                                    19942000
 24                                    19942000
 25                        1999 (Appointed)2000
 26                                    19942000
 27                      1993 (Special)19942000
 28                        19761982198819942000
 29                                198819942000
 30                                        2000
 31                                        2000
 32            19581964197019761982198819942000
 33                                198819942000
 34                                    19942000

                                                     4  \
 0                                                 NaN
 1                                                 NaN
 2                               Incumbent re-elected.
 3                               Incumbent re-elected.
 4   Incumbent lost renomination, but re-elected.Co...
 5                               Incumbent re-elected.
 6                               Incumbent re-elected.
 7                               Incumbent re-elected.
 8                               Incumbent re-elected.
 9                               Incumbent re-elected.
 10  Incumbent retired.New senator elected.Democrat...
 11                              Incumbent re-elected.
 12                              Incumbent re-elected.
 13  Incumbent retired.New senator elected.Democrat...
 14                              Incumbent re-elected.
 15  Incumbent lost re-election.New senator elected...
 16  Incumbent lost re-election.New senator elected...
 17                              Incumbent re-elected.
 18                              Incumbent re-elected.
 19                         Interim appointee elected.
 20                              Incumbent re-elected.
 21                              Incumbent re-elected.
 22                              Incumbent re-elected.
 23  Incumbent lost re-election.New senator elected...
 24  Incumbent lost re-election.New senator elected...
 25  Incumbent lost re-election.New senator elected...
 26  Incumbent retired.New senator elected.Republic...
 27                              Incumbent re-elected.
 28                              Incumbent re-elected.
 29  Incumbent retired.New senator elected.Independ...
 30  Incumbent lost re-election.New senator elected...
 31                              Incumbent re-elected.
 32                              Incumbent re-elected.
 33                              Incumbent re-elected.
 34                              Incumbent re-elected.

                                                     5
 0                                                 NaN
 1                                                 NaN
 2   Jon Kyl (Republican) 53.3% Jim Pederson (Democ...
 3   Dianne Feinstein (Democratic) 59.4% Dick Mount...
 4   Joe Lieberman (Connecticut for Lieberman) 49.7...
 5   Tom Carper (Democratic) 67.1% Jan Ting (Republ...
 6   Bill Nelson (Democratic) 60.3% Katherine Harri...
 7   Daniel Akaka (Democratic) 61.4% Cynthia Thiele...
 8   Richard Lugar (Republican) 87.3% Steve Osborn ...
 9   Olympia Snowe (Republican) 74.4% Jean Hay Brig...
 10  Ben Cardin (Democratic) 54.2% Michael Steele (...
 11  Ted Kennedy (Democratic) 69.5% Kenneth Chase (...
 12  Debbie Stabenow (Democratic) 56.9% Mike Boucha...
 13  Amy Klobuchar (Democratic-Farmer-Labor) 58.1% ...
 14  Trent Lott (Republican) 63.6% Erik Fleming (De...
 15  Claire McCaskill (Democratic) 49.6% Jim Talent...
 16  Jon Tester (Democratic) 49.2% Conrad Burns (Re...
 17  Ben Nelson (Democratic) 63.9% Pete Ricketts (R...
 18  John Ensign (Republican) 55.4% Jack Carter (De...
 19  Bob Menendez (Democratic) 53.4% Thomas Kean Jr...
 20  Jeff Bingaman (Democratic) 70.6% Allen McCullo...
 21  Hillary Clinton (Democratic) 67.0% John Spence...
 22  Kent Conrad (Democratic) 68.8% Dwight Grotberg...
 23  Sherrod Brown (Democratic) 56.2% Mike DeWine (...
 24  Bob Casey Jr. (Democratic) 58.7% Rick Santorum...
 25  Sheldon Whitehouse (Democratic) 53.5% Lincoln ...
 26  Bob Corker (Republican) 50.7% Harold Ford Jr. ...
 27  Kay Bailey Hutchison (Republican) 61.7% Barbar...
 28  Orrin Hatch (Republican) 62.6% Pete Ashdown (D...
 29  Bernie Sanders (Independent) 65.4% Richard Tar...
 30  Jim Webb (Democratic) 49.6% George Allen (Repu...
 31  Maria Cantwell (Democratic) 56.85% Mike McGavi...
 32  Robert Byrd (Democratic) 64.4% John Raese (Rep...
 33  Herb Kohl (Democratic) 67.31% Robert Lorge (Re...
 34  Craig L. Thomas (Republican) 69.99% Dale Grout...  ]

[              0           1             2   3
 0           NaN         NaN           NaN NaN
 1       Nominee     Jon Kyl  Jim Pederson NaN
 2         Party  Republican    Democratic NaN
 3  Popular vote      814398        664141 NaN
 4    Percentage       53.3%         43.5% NaN,
              0           1                    2       3      4
 0        Party   Candidate                Votes       %    NaN
 1          NaN  Republican  Jon Kyl (Incumbent)  297636  99.5%
 2          NaN  Republican            Write-ins     155  0.05%
 3  Total votes      297791              100.00%     NaN    NaN,
              0           1             2       3        4
 0        Party   Candidate         Votes       %      NaN
 1          NaN  Democratic  Jim Pederson  214455  100.00%
 2  Total votes      214455       100.00%     NaN      NaN,
              0            1             2     3        4
 0        Party    Candidate         Votes     %      NaN
 1          NaN  Libertarian  Richard Mack  3311  100.00%
 2  Total votes         3311       100.00%   NaN      NaN,
           0                1                    2       3       4        5
 0     Party        Candidate                Votes       %       ±      NaN
 1       NaN       Republican  Jon Kyl (Incumbent)  814398  53.34%  -25.98%
 2       NaN       Democratic         Jim Pederson  664141  43.50%  +43.50%
 3       NaN      Libertarian         Richard Mack   48231   3.16%   -1.90%
 4       NaN        Write-ins                  NaN      13   0.00%      NaN
 5  Majority           150257                9.84%  61.66%     NaN      NaN
 6   Turnout          1526782                  NaN     NaN     NaN      NaN
 7       NaN  Republican hold                Swing     NaN     NaN      NaN,
               0                 1              2   3
 0           NaN               NaN            NaN NaN
 1       Nominee  Dianne Feinstein  Dick Mountjoy NaN
 2         Party        Democratic     Republican NaN
 3  Popular vote           5076289        2990822 NaN
 4    Percentage            59.43%         35.02% NaN,
        0                     1                 2        3        4
 0  Party             Candidate             Votes        %      NaN
 1    NaN            Republican     Dick Mountjoy  1560472  100.00%
 2    NaN  American Independent  Don J. Grundmann    30787  100.00%
 3    NaN           Libertarian  Michael S. Metti    16742  100.00%
 4    NaN     Peace and Freedom   Marsha Feinland     4109  100.00%,
               0                          1           2                 3
 0           NaN                        NaN         NaN               NaN
 1       Nominee              Joe Lieberman  Ned Lamont  Alan Schlesinger
 2         Party  Connecticut for Lieberman  Democratic        Republican
 3  Popular vote                     564095      450844            109198
 4    Percentage                      49.7%       39.7%              9.6%,
              0           1                             2       3      4
 0        Party   Candidate                         Votes       %    NaN
 1          NaN  Democratic                    Ned Lamont  146587  51.8%
 2          NaN  Democratic  Joseph Lieberman (Incumbent)  136468  48.2%
 3  Total votes      283055                        100.0%     NaN    NaN,
           0                                               1  \
 0     Party                                       Candidate
 1       NaN                       Connecticut for Lieberman
 2       NaN                                      Democratic
 3       NaN                                      Republican
 4       NaN                                           Green
 5       NaN                              Concerned Citizens
 6       NaN                                        Write-in
 7  Majority                                          113251
 8   Turnout                                         1134777
 9       NaN  Connecticut for Lieberman gain from Democratic

                            2       3      4
 0                      Votes       %    NaN
 1  Joe Lieberman (incumbent)  564095  49.7%
 2                 Ned Lamont  450844  39.7%
 3           Alan Schlesinger  109198   9.6%
 4             Ralph Ferrucci    5922   0.6%
 5             Timothy Knibbs    4638   0.4%
 6             Carl E. Vassar      80   0.0%
 7                      10.0%     NaN    NaN
 8                        NaN     NaN    NaN
 9                        NaN     NaN    NaN  ,
               0           1           2   3
 0           NaN         NaN         NaN NaN
 1       Nominee  Tom Carper    Jan Ting NaN
 2         Party  Democratic  Republican NaN
 3  Popular vote      170567       69744 NaN
 4    Percentage       67.1%       27.4% NaN,
              0           1                    2     3       4
 0        Party   Candidate                Votes     %     NaN
 1          NaN  Republican             Jan Ting  6110  42.47%
 2          NaN  Republican   Michael D. Protack  5771  40.12%
 3          NaN  Republican  Christine O'Donnell  2505  17.41%
 4  Total votes       14386              100.00%   NaN     NaN,
           0                     1                          2        3       4  \
 0     Party             Candidate                      Votes        %       ±
 1       NaN            Democratic  Thomas Carper (Incumbent)   170567  67.13%
 2       NaN            Republican                   Jan Ting    69734  27.44%
 3       NaN              Write-in        Christine O'Donnell    11127   4.38%
 4       NaN  Delaware Independent     Karen M. Hartley-Nagle     5769    2.2%
 5       NaN           Libertarian          William E. Morris     2671   1.05%
 6  Majority                100833                     39.68%  +27.85%     NaN
 7   Turnout                254099                        NaN      NaN     NaN
 8       NaN       Democratic hold                      Swing      NaN     NaN

          5
 0      NaN
 1  +11.60%
 2  -16.26%
 3      NaN
 4      NaN
 5   +0.71%
 6      NaN
 7      NaN
 8      NaN  ,
               0            1                 2   3
 0           NaN          NaN               NaN NaN
 1       Nominee  Bill Nelson  Katherine Harris NaN
 2         Party   Democratic        Republican NaN
 3  Popular vote      2890548           1826127 NaN
 4    Percentage        60.3%             38.1% NaN,
          0           1                  2       3      4
 0    Party   Candidate              Votes       %    NaN
 1      NaN  Republican   Katherine Harris  474871  49.4%
 2      NaN  Republican       Will McBride  287741  30.0%
 3      NaN  Republican  LeRoy Collins Jr.  146712  15.3%
 4      NaN  Republican       Peter Monroe   51330   5.3%
 5  Turnout      960654            100.00%     NaN    NaN,
            0                1                        2        3      4      5
 0      Party        Candidate                    Votes        %      ±    NaN
 1        NaN       Democratic  Bill Nelson (Incumbent)  2890548  60.3%  +9.8%
 2        NaN       Republican         Katherine Harris  1826127  38.1%  -8.1%
 3        NaN      Independent             Belinda Noah    24880   0.5%    NaN
 4        NaN      Independent              Brian Moore    19695   0.4%    NaN
 5        NaN      Independent        Floyd Ray Frazier    16628   0.3%    NaN
 6        NaN      Independent               Roy Tanner    15562   0.3%    NaN
 7        NaN        Write-ins                      NaN       94   0.0%    NaN
 8   Majority          1064421                    22.2%   +17.4%    NaN    NaN
 9    Turnout          4793534                      NaN      NaN    NaN    NaN
 10       NaN  Democratic hold                    Swing      NaN    NaN    NaN,
               0             1                2   3
 0           NaN           NaN              NaN NaN
 1       Nominee  Daniel Akaka  Cynthia Thielen NaN
 2         Party    Democratic       Republican NaN
 3  Popular vote        210330           126097 NaN
 4    Percentage         61.4%            36.8% NaN,
              0           1                            2       3    4
 0        Party   Candidate                        Votes       %  NaN
 1          NaN  Democratic  Daniel K. Akaka (Incumbent)  129158  55%
 2          NaN  Democratic                      Ed Case  107163  45%
 3  Total votes      236321                         100%     NaN  NaN,
              0           1                2      3       4
 0        Party   Candidate            Votes      %     NaN
 1          NaN  Republican     Jerry Coffee  10139  41.01%
 2          NaN  Republican      Mark Beatty   6057  24.50%
 3          NaN  Republican  Akacase Collins   3146  12.72%
 4          NaN  Republican    Jay Friedheim   2299   9.30%
 5          NaN  Republican     Steve Tataii   1601   6.48%
 6          NaN  Republican  Eddie Pirkowski   1482   5.99%
 7  Total votes       24724             100%    NaN     NaN,
           0                1                         2       3      4       5
 0     Party        Candidate                     Votes       %      ±     NaN
 1       NaN       Democratic  Daniel Akaka (Incumbent)  210330  61.4%  -11.5%
 2       NaN       Republican           Cynthia Thielen  126097  36.8%  +12.3%
 3       NaN      Libertarian              Lloyd Mallan    6415   1.9%   +1.0%
 4  Majority            84233                     24.6%     NaN    NaN     NaN
 5   Turnout           342842                       NaN     NaN    NaN     NaN
 6       NaN  Democratic hold                     Swing     NaN    NaN     NaN,
               0              1             2   3
 0           NaN            NaN           NaN NaN
 1       Nominee  Richard Lugar  Steve Osborn NaN
 2         Party     Republican   Libertarian NaN
 3  Popular vote        1171553        168820 NaN
 4    Percentage          87.3%         12.6% NaN,
           0                1                          2        3      4   5
 0     Party        Candidate                      Votes        %      ± NaN
 1       NaN       Republican  Richard Lugar (Incumbent)  1171553  87.3% NaN
 2       NaN      Libertarian               Steve Osborn   168820  12.6% NaN
 3       NaN         No party                  Write-Ins      738   0.1% NaN
 4  Majority          1002733                        NaN      NaN    NaN NaN
 5   Turnout          1341111                        40%      NaN    NaN NaN
 6       NaN  Republican hold                      Swing      NaN    NaN NaN,
                0              1                2   3
 0            NaN            NaN              NaN NaN
 1        Nominee  Olympia Snowe  Jean Hay Bright NaN
 2          Party     Republican       Democratic NaN
 3   Popular vote         402598           111984 NaN
 4     Percentage         74.01%           20.59% NaN
 5            NaN            NaN              NaN NaN
 6            NaN            NaN              NaN NaN
 7        Nominee   Bill Slavick              NaN NaN
 8          Party    Independent              NaN NaN
 9   Popular vote          29220              NaN NaN
 10    Percentage          5.37%              NaN NaN,
           0                1                          2       3       4  \
 0     Party        Candidate                      Votes       %       ±
 1       NaN       Republican  Olympia Snowe (Incumbent)  402598  74.01%
 2       NaN       Democratic            Jean Hay Bright  111984  20.59%
 3       NaN      Independent               Bill Slavick   29220   5.37%
 4  Majority           290614                     53.42%     NaN     NaN
 5   Turnout           543802                        NaN     NaN     NaN
 6       NaN  Republican hold                      Swing     NaN     NaN

         5
 0     NaN
 1   +5.5%
 2  -10.6%
 3     NaN
 4     NaN
 5     NaN
 6     NaN  ,
               0           1               2   3
 0           NaN         NaN             NaN NaN
 1       Nominee  Ben Cardin  Michael Steele NaN
 2         Party  Democratic      Republican NaN
 3  Popular vote      965477          787182 NaN
 4    Percentage       54.2%           44.2% NaN,
               0           1                       2       3       4
 0         Party   Candidate                   Votes       %     NaN
 1           NaN  Republican       Michael S. Steele  190790  86.96%
 2           NaN  Republican             John Kimble    6280   2.86%
 3           NaN  Republican          Earl S. Gordon    4110   1.87%
 4           NaN  Republican  Daniel "Wig Man" Vovak    4063   1.85%
 5           NaN  Republican       Thomas J. Hampton    3946   1.80%
 6           NaN  Republican      Corrogan R. Vaughn    2565   1.17%
 7           NaN  Republican       Daniel Muffoletto    2335   1.06%
 8           NaN  Republican         Richard Shawver    2298   1.05%
 9           NaN  Republican                 Ray Bly    2114   0.96%
 10          NaN  Republican    Edward Raymond Madej     902   0.41%
 11  Total votes      219403                    100%     NaN     NaN,
           0                1                  2       3       4      5
 0     Party        Candidate              Votes       %       ±    NaN
 1       NaN       Democratic         Ben Cardin  965477  54.21%  -9.0%
 2       NaN       Republican  Michael S. Steele  787182  44.19%  +7.5%
 3       NaN            Green        Kevin Zeese   27564   1.55%    NaN
 4       NaN        Write-ins                NaN     916   0.05%     0%
 5  Majority           178295             10.02%     NaN     NaN    NaN
 6   Turnout          1781139                100     NaN     NaN    NaN
 7       NaN  Democratic hold              Swing     NaN     NaN    NaN,
               0            1              2   3
 0           NaN          NaN            NaN NaN
 1       Nominee  Ted Kennedy  Kenneth Chase NaN
 2         Party   Democratic     Republican NaN
 3  Popular vote      1500738         661532 NaN
 4    Percentage        69.3%          30.6% NaN,
              0           1              2      3       4
 0        Party   Candidate          Votes      %     NaN
 1          NaN  Republican  Kenneth Chase  35497  50.94%
 2          NaN  Republican    Kevin Scott  34179  49.05%
 3  Total votes       69676        100.00%    NaN     NaN,
           0                1                        2        3       4  \
 0     Party        Candidate                    Votes        %       ±
 1       NaN       Democratic  Ted Kennedy (Incumbent)  1500738  69.30%
 2       NaN       Republican            Kenneth Chase   661532  30.55%
 3  Majority           839206                   38.75%      NaN     NaN
 4   Turnout          2165490                      NaN      NaN     NaN
 5       NaN  Democratic hold                    Swing     20.8     NaN

           5
 0       NaN
 1  -3.4[65]
 2     +17.7
 3       NaN
 4       NaN
 5       NaN  ,
               0                1              2   3
 0           NaN              NaN            NaN NaN
 1       Nominee  Debbie Stabenow  Mike Bouchard NaN
 2         Party       Democratic     Republican NaN
 3  Popular vote          2151278        1559597 NaN
 4    Percentage            56.9%          41.3% NaN,
           0                1                            2        3      4  \
 0     Party        Candidate                        Votes        %      ±
 1       NaN       Democratic  Debbie Stabenow (Incumbent)  2151278  56.9%
 2       NaN       Republican             Michael Bouchard  1559597  41.3%
 3       NaN      Libertarian             Leonard Schwartz    27012   0.7%
 4       NaN            Green                   David Sole    23890   0.6%
 5       NaN     Constitution            Dennis FitzSimons    18341   0.5%
 6  Majority           591681                        15.6%      NaN    NaN
 7   Turnout          3780142                          NaN      NaN    NaN
 8       NaN  Democratic hold                        Swing       7%    NaN

        5
 0    NaN
 1  +7.4%
 2  -6.6%
 3     0%
 4  -0.3%
 5  +0.2%
 6    NaN
 7    NaN
 8    NaN  ,
               0                 1             2   3
 0           NaN               NaN           NaN NaN
 1       Nominee     Amy Klobuchar  Mark Kennedy NaN
 2         Party  Democratic (DFL)    Republican NaN
 3  Popular vote           1278849        835653 NaN
 4    Percentage             58.1%         37.9% NaN,
              0                 1               2       3       4
 0        Party         Candidate           Votes       %     NaN
 1          NaN  Democratic (DFL)   Amy Klobuchar  294671  92.51%
 2          NaN  Democratic (DFL)  Darryl Stanton   23872   7.49%
 3  Total votes            318543         100.00%     NaN     NaN,
              0           1                2       3       4
 0        Party   Candidate            Votes       %     NaN
 1          NaN  Republican     Mark Kennedy  147091  90.21%
 2          NaN  Republican     John Uldrich   10025   6.15%
 3          NaN  Republican  Harold Shudlick    5941   3.64%
 4  Total votes      163057          100.00%     NaN     NaN,
              0             1                  2     3       4
 0        Party     Candidate              Votes     %     NaN
 1          NaN  Independence  Robert Fitzgerald  5520  51.61%
 2          NaN  Independence   Miles W. Collins  2600  24.31%
 3          NaN  Independence   Stephen Williams  2575  24.08%
 4  Total votes         10695            100.00%   NaN     NaN,
           0                      1                   2        3       4  \
 0     Party              Candidate               Votes        %       ±
 1       NaN       Democratic (DFL)  Amy Jean Klobuchar  1278849  58.06%
 2       NaN             Republican        Mark Kennedy   835653  37.94%
 3       NaN           Independence   Robert Fitzgerald    71194   3.23%
 4       NaN                  Green      Michael Cavlan    10714   0.49%
 5       NaN           Constitution          Ben Powers     5408   0.25%
 6       NaN              Write-ins                 NaN      954     NaN
 7  Majority                 443196               20.2%      NaN     NaN
 8   Turnout                2202772              70.64%      NaN     NaN
 9       NaN  Democratic (DFL) hold               Swing      NaN     NaN

         5
 0     NaN
 1  +9.23%
 2  -5.35%
 3  -2.58%
 4     NaN
 5  +0.15%
 6     NaN
 7     NaN
 8     NaN
 9     NaN  ,
               0           1                2   3
 0           NaN         NaN              NaN NaN
 1       Nominee  Trent Lott  Erik R. Fleming NaN
 2         Party  Republican       Democratic NaN
 3  Popular vote      388399           213000 NaN
 4    Percentage       63.6%            34.9% NaN,
              0           1                2      3       4
 0        Party   Candidate            Votes      %     NaN
 1          NaN  Democratic  Erik R. Fleming  46185  44.07%
 2          NaN  Democratic      Bill Bowlin  23175  22.11%
 3          NaN  Democratic    James O'Keefe  20815  19.86%
 4          NaN  Democratic  Catherine Starr  14629  13.96%
 5  Total votes      104804             100%    NaN     NaN,
              0           1                2      3       4
 0        Party   Candidate            Votes      %     NaN
 1          NaN  Democratic  Erik R. Fleming  19477  64.99%
 2          NaN  Democratic      Bill Bowlin  10490  35.01%
 3  Total votes       29967             100%    NaN     NaN,
           0                1                       2       3       4   5
 0     Party        Candidate                   Votes       %       ± NaN
 1       NaN       Republican  Trent Lott (Incumbent)  388399  63.58% NaN
 2       NaN       Democratic         Erik R. Fleming  213000  34.87% NaN
 3       NaN      Libertarian           Harold Taylor    9522   1.56% NaN
 4  Majority           175399                  28.71%     NaN     NaN NaN
 5   Turnout           591178                     NaN     NaN     NaN NaN
 6       NaN  Republican hold                   Swing     NaN     NaN NaN,
               0                 1           2   3

In [ ]:
test_list = [election_collection_raw[year][2][8], election_collection_raw[year][2][3]]
for u in test_list:
    
    display(u.iloc[:,2])

In [12]:
# election_collection_raw[year][1][1]
for i, df in enumerate(election_collection_raw[year][2]):
    display(df)

              0              1                     2   3
0           NaN            NaN                   NaN NaN
1       Nominee  Jeff Sessions  Vivian Davis Figures NaN
2         Party     Republican            Democratic NaN
3  Popular vote        1305383                752391 NaN
4    Percentage         63.36%                36.52% NaN

             0           1                2       3       4
0        Party   Candidate            Votes       %     NaN
1          NaN  Republican    Jeff Sessions  199690  92.27%
2          NaN  Republican  Earl Mack Gavin   16718   7.73%
3  Total votes      216408          100.00%     NaN     NaN

             0           1                     2       3       4
0        Party   Candidate                 Votes       %     NaN
1          NaN  Democratic  Vivian Davis Figures  112074  63.72%
2          NaN  Democratic        Johnny Swanson   38757  22.03%
3          NaN  Democratic         Mark Townsend   25058  14.25%
4  Total votes      175889               100.00%     NaN     NaN

,0,1,2,3,4
0,Party,Candidate,Votes,%,NaN
1,NaN,Republican,Jeff Sessions (Incumbent),1305383,63.36%
2,NaN,Democratic,Vivian Figures,752391,36.52%
3,NaN,Write-in,Write-ins,2417,0.12%
4,Invalid or blank votes,NaN,NaN,NaN,NaN
5,Total votes,2060191,100.00%,NaN,NaN
6,Turnout,NaN,NaN,NaN,NaN
7,NaN,Republican hold,NaN,NaN,NaN

              0            1            2   3
0           NaN          NaN          NaN NaN
1       Nominee  Mark Begich  Ted Stevens NaN
2         Party   Democratic   Republican NaN
3  Popular vote       151767       147814 NaN
4    Percentage        47.8%        46.5% NaN

             0                     1                 2      3       4
0        Party             Candidate             Votes      %     NaN
1          NaN            Democratic       Mark Begich  63747  84.12%
2          NaN            Democratic      Ray Metcalfe   5480   7.23%
3          NaN  Alaskan Independence          Bob Bird   4216   5.56%
4          NaN           Libertarian    Fredrick Haase   1375   1.81%
5          NaN            Democratic  Frank Vondersaar    965   1.27%
6  Total votes                 75783           100.00%    NaN     NaN

             0           1              2      3       4
0        Party   Candidate          Votes      %     NaN
1          NaN  Republican    Ted Stevens  66900  63.52%
2          NaN  Republican    David Cuddy  28364  26.93%
3          NaN  Republican    Vic Vickers   6102   5.79%
4          NaN  Republican  Michael Corey   1496   1.42%
5          NaN  Republican  Roderic Sikma   1133   1.08%
6          NaN  Republican     Rich Wanda    732   0.69%
7          NaN  Republican  Gerald Heikes    599   0.57%
8  Total votes      105326        100.00%    NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Mark Begich,151767,47.77%,+37.26%
2,NaN,Republican,Ted Stevens (Incumbent),147814,46.52%,-31.65%
3,NaN,Alaskan Independence,Bob Bird,13197,4.15%,+1.22%
4,NaN,Libertarian,Fredrick Haase,2483,0.78%,-0.25%
5,NaN,Independent,Ted Gianoutsos,1385,0.44%,NaN
6,NaN,Write-ins,NaN,1077,0.34%,NaN
7,Majority,3953,1.24%,-66.42%,NaN,NaN
8,Turnout,317723,NaN,NaN,NaN,NaN
9,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0           1                2   3
0           NaN         NaN              NaN NaN
1       Nominee  Mark Pryor  Rebekah Kennedy NaN
2         Party  Democratic            Green NaN
3  Popular vote      804678           207076 NaN
4    Percentage       79.5%            20.5% NaN

,0,1,2,3,4
0,Party,Candidate,Votes,%,NaN
1,NaN,Democratic,Mark Pryor (Incumbent),804678,79.53%
2,NaN,Green,Rebekah Kennedy,207076,20.47%
3,Total votes,1011754,100.00%,NaN,NaN
4,Invalid or blank votes,75586,NaN,NaN,NaN
5,NaN,Democratic hold,NaN,NaN,NaN

              0           1             2   3
0           NaN         NaN           NaN NaN
1       Nominee  Mark Udall  Bob Schaffer NaN
2         Party  Democratic    Republican NaN
3  Popular vote     1230994        990755 NaN
4    Percentage       52.8%         42.5% NaN

             0           1           2       3        4
0        Party   Candidate       Votes       %      NaN
1          NaN  Democratic  Mark Udall  194227  100.00%
2  Total votes      194227     100.00%     NaN      NaN

             0           1             2       3        4
0        Party   Candidate         Votes       %      NaN
1          NaN  Republican  Bob Schaffer  239212  100.00%
2  Total votes      239212       100.00%     NaN      NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Mark Udall,1230994,52.80%,+7.03%
2,NaN,Republican,Bob Schaffer,990755,42.49%,-8.20%
3,NaN,Constitution,Douglas Campbell,59733,2.56%,+1.04%
4,NaN,Green,Bob Kinsey,50004,2.14%,NaN
5,NaN,Write-ins,NaN,135,0.01%,NaN
6,Majority,240239,10.30%,+5.38%,NaN,NaN
7,Turnout,2331621,NaN,NaN,NaN,NaN
8,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0           1                    2   3
0           NaN         NaN                  NaN NaN
1       Nominee   Joe Biden  Christine O'Donnell NaN
2         Party  Democratic           Republican NaN
3  Popular vote      257539               140595 NaN
4    Percentage       64.7%                35.3% NaN

          0                1                      2        3       4       5
0     Party        Candidate                  Votes        %       ±     NaN
1       NaN       Democratic  Joe Biden (Incumbent)   257539  64.69%  +6.47%
2       NaN       Republican    Christine O'Donnell   140595  35.31%  -5.49%
3  Majority           116944                 29.37%  +11.96%     NaN     NaN
4   Turnout           398134                    NaN      NaN     NaN     NaN
5       NaN  Democratic hold                  Swing      NaN     NaN     NaN

,0,1,2,3
0,NaN,NaN,NaN,NaN
1,Nominee,Saxby Chambliss,Jim Martin,NaN
2,Party,Republican,Democratic,NaN
3,Popular vote,"1,867,097 general1,228,033 runoff","1,757,393 general909,923 runoff",NaN
4,Percentage,49.8% general57.4% runoff,46.8% general42.6% runoff,NaN

         0           1                2       3       4
0    Party   Candidate            Votes       %     NaN
1      NaN  Republican  Saxby Chambliss  392902  100.0%
2  Turnout      392928           100.0%     NaN     NaN

             0           1              2       3      4
0        Party   Candidate          Votes       %    NaN
1          NaN  Democratic   Vernon Jones  199026  40.4%
2          NaN  Democratic     Jim Martin  169635  34.4%
3          NaN  Democratic  Dale Cardwell   79181  16.1%
4          NaN  Democratic    Rand Knight   25667   5.2%
5          NaN  Democratic    Josh Lanier   19717   4.0%
6  Total votes      493226         100.0%     NaN    NaN

             0           1             2       3      4       5
0        Party   Candidate         Votes       %      ±     NaN
1          NaN  Democratic    Jim Martin  191061  59.9%  +25.5%
2          NaN  Democratic  Vernon Jones  127993  40.1%   -0.3%
3  Total votes      319054        100.0%     NaN    NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Republican,Saxby Chambliss (Incumbent),1867097,49.8%,-3.0%
2,NaN,Democratic,Jim Martin,1757393,46.8%,+0.9%
3,NaN,Libertarian,Allen Buckley,127923,3.4%,+2.1%
4,NaN,Socialist Workers,Eleanor Garcia (write-in),43,0.0%,NaN
5,NaN,Independent,William Salomone Jr. (write-in),29,0.0%,NaN
6,Majority,109704,2.92%,NaN,NaN,NaN
7,Turnout,3752577,NaN,NaN,NaN,NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Republican,Saxby Chambliss (Incumbent),1228033,57.4%,+7.6%
2,NaN,Democratic,Jim Martin,909923,42.6%,-4.2%
3,Majority,318110,14.8%,NaN,NaN,NaN
4,Turnout,2137956,NaN,NaN,NaN,NaN
5,NaN,Republican hold,Swing,NaN,NaN,NaN

               0            1              2   3
0            NaN          NaN            NaN NaN
1        Nominee    Jim Risch  Larry LaRocco NaN
2          Party   Republican     Democratic NaN
3   Popular vote       371744         219903 NaN
4     Percentage        57.7%          34.1% NaN
5            NaN          NaN            NaN NaN
6            NaN          NaN            NaN NaN
7        Nominee  Rex Rammell            NaN NaN
8          Party  Independent            NaN NaN
9   Popular vote        34510            NaN NaN
10    Percentage         5.4%            NaN NaN

             0           1                   2      3       4
0        Party   Candidate               Votes      %     NaN
1          NaN  Democratic       Larry LaRocco  29023  72.35%
2          NaN  Democratic  David J. Archuleta  11074  27.60%
3          NaN  Democratic           Write-ins     20   0.05%
4  Total votes       40117             100.00%    NaN     NaN

             0           1                     2      3       4
0        Party   Candidate                 Votes      %     NaN
1          NaN  Republican             Jim Risch  80743  65.34%
2          NaN  Republican            Scott Syme  16660  13.48%
3          NaN  Republican     Richard Phenneger   6532   5.29%
4          NaN  Republican         Neal Thompson   5375   4.35%
5          NaN  Republican         Fred M. Adams   4987   4.04%
6          NaN  Republican           Bill Hunter   4280   3.46%
7          NaN  Republican       Brian E. Hefner   2915   2.36%
8          NaN  Republican  Hal James Styles Jr.   2082   1.68%
9  Total votes      123574               100.00%    NaN     NaN

          0                1              2       3       4       5
0     Party        Candidate          Votes       %       ±     NaN
1       NaN       Republican      Jim Risch  371744  57.65%  -7.51%
2       NaN       Democratic  Larry LaRocco  219903  34.11%  +1.56%
3       NaN      Independent    Rex Rammell   34510   5.35%     NaN
4       NaN      Libertarian    Kent Marmon    9958   1.54%  -0.75%
5       NaN      Independent       Pro-Life    8662   1.35%     NaN
6       NaN        Write-ins            NaN       3   0.00%     NaN
7  Majority           151841         23.55%  -9.06%     NaN     NaN
8   Turnout           644780            NaN     NaN     NaN     NaN
9       NaN  Republican hold          Swing     NaN     NaN     NaN

              0            1                2   3
0           NaN          NaN              NaN NaN
1       Nominee  Dick Durbin  Steve Sauerberg NaN
2         Party   Democratic       Republican NaN
3  Popular vote      3615844          1520621 NaN
4    Percentage       67.84%           28.53% NaN

             0           1                        2        3        4
0        Party   Candidate                    Votes        %      NaN
1          NaN  Democratic  Dick Durbin (Incumbent)  1653833  100.00%
2  Total votes     1653833                  100.00%      NaN      NaN

             0           1                2       3       4
0        Party   Candidate            Votes       %     NaN
1          NaN  Republican  Steve Sauerberg  395199  55.62%
2          NaN  Republican      Andy Martin  240548  33.85%
3          NaN  Republican        Mike Psak   74829  10.53%
4  Total votes      710576          100.00%     NaN     NaN

          0                1                        2        3       4       5
0     Party        Candidate                    Votes        %       ±     NaN
1       NaN       Democratic  Dick Durbin (Incumbent)  3615844  67.84%  +7.51%
2       NaN       Republican          Steve Sauerberg  1520621  28.53%  -9.49%
3       NaN            Green           Kathy Cummings   119135   2.24%   0.00%
4       NaN      Libertarian        Larry A. Stafford    50224   0.94%  -0.70%
5       NaN     Constitution           Chad N. Koppie    24059   0.45%   0.00%
6  Majority          2095223                   39.31%  +17.00%     NaN     NaN
7   Turnout          5329884                      NaN      NaN     NaN     NaN
8       NaN  Democratic hold                    Swing      NaN     NaN     NaN

              0           1                 2   3
0           NaN         NaN               NaN NaN
1       Nominee  Tom Harkin  Christopher Reed NaN
2         Party  Democratic        Republican NaN
3  Popular vote      941665            560006 NaN
4    Percentage      62.66%            37.26% NaN

             0           1                       2      3       4
0        Party   Candidate                   Votes      %     NaN
1          NaN  Democratic  Tom Harkin (Incumbent)  90785  98.83%
2          NaN  Democratic               Write-ins   1074   1.17%
3  Total votes       91859                 100.00%    NaN     NaN

             0           1                 2      3       4
0        Party   Candidate             Votes      %     NaN
1          NaN  Republican  Christopher Reed  24964  35.32%
2          NaN  Republican   George Eichhorn  24390  34.52%
3          NaN  Republican      Steve Rathje  21062  29.80%
4          NaN  Republican         Write-ins    256   0.36%
5  Total votes       70672           100.00%    NaN     NaN

          0                1                       2        3       4       5
0     Party        Candidate                   Votes        %       ±     NaN
1       NaN       Democratic  Tom Harkin (Incumbent)   941665  62.66%  +8.48%
2       NaN       Republican        Christopher Reed   560006  37.26%  -6.52%
3       NaN        Write-ins                     NaN     1247   0.08%     NaN
4  Majority           381659                  25.39%  +15.00%     NaN     NaN
5   Turnout          1502918                     NaN      NaN     NaN     NaN
6       NaN  Democratic hold                   Swing      NaN     NaN     NaN

              0            1             2   3
0           NaN          NaN           NaN NaN
1       Nominee  Pat Roberts  Jim Slattery NaN
2         Party   Republican    Democratic NaN
3  Popular vote       712396        429691 NaN
4    Percentage        60.1%         36.5% NaN

             0           1                        2       3        4
0        Party   Candidate                    Votes       %      NaN
1          NaN  Republican  Pat Roberts (Incumbent)  214911  100.00%
2  Total votes      214911                  100.00%     NaN      NaN

             0           1             2      3       4
0        Party   Candidate         Votes      %     NaN
1          NaN  Democratic  Jim Slattery  68106  68.93%
2          NaN  Democratic     Lee Jones  30699  31.07%
3  Total votes       98805       100.00%    NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Republican,Pat Roberts (Incumbent),727121,60.06%,-22.46%
2,NaN,Democratic,Jim Slattery,441399,36.46%,NaN
3,NaN,Libertarian,Randall Hodgkinson,25727,2.12%,-6.98%
4,NaN,Reform,Joseph L. Martin,16443,1.36%,-7.02%
5,Majority,285722,23.60%,-49.82%,NaN,NaN
6,Turnout,1210690,NaN,NaN,NaN,NaN
7,NaN,Republican hold,Swing,NaN,NaN,NaN

              0                1               2   3
0           NaN              NaN             NaN NaN
1       Nominee  Mitch McConnell  Bruce Lunsford NaN
2         Party       Republican      Democratic NaN
3  Popular vote           953816          847005 NaN
4    Percentage            53.0%           47.0% NaN

             0           1                2       3       4
0        Party   Candidate            Votes       %     NaN
1          NaN  Republican  Mitch McConnell  168127  86.09%
2          NaN  Republican     Daniel Essek   27170  13.91%
3  Total votes      195297          100.00%     NaN     NaN

             0           1                  2       3       4
0        Party   Candidate              Votes       %     NaN
1          NaN  Democratic     Bruce Lunsford  316992  51.15%
2          NaN  Democratic       Greg Fischer  209827  33.85%
3          NaN  Democratic  David L. Williams   34363   5.54%
4          NaN  Democratic    Michael Cassaro   17340   2.80%
5          NaN  Democratic      Kenneth Stepp   13451   2.17%
6          NaN  Democratic        David Wylie    7528   1.21%
7          NaN  Democratic      James E. Rice    2365   3.28%
8  Total votes      619904            100.00%     NaN     NaN

         0                1                2       3       4       5
0    Party        Candidate            Votes       %       ±     NaN
1      NaN       Republican  Mitch McConnell  953816  52.97%  -11.7%
2      NaN       Democratic   Bruce Lunsford  847005  47.03%  +11.7%
3  Turnout          1800821           62.00%  +19.2%     NaN     NaN
4      NaN  Republican hold            Swing     NaN     NaN     NaN

              0              1                   2   3
0           NaN            NaN                 NaN NaN
1       Nominee  Mary Landrieu  John Neely Kennedy NaN
2         Party     Democratic          Republican NaN
3  Popular vote         988298              867177 NaN
4    Percentage          52.1%               45.7% NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Mary Landrieu (Incumbent),988298,52.11%,+0.41%
2,NaN,Republican,John Neely Kennedy,867177,45.72%,-2.58%
3,NaN,Libertarian,Richard Fontanesi,18590,0.98%,NaN
4,NaN,Independent,Jay Patel,13729,0.72%,NaN
5,NaN,Independent,Robert Stewart,8780,0.46%,NaN
6,Majority,121121,6.39%,+2.99%,NaN,NaN
7,Turnout,1896574,100.0%,NaN,NaN,NaN
8,NaN,Democratic hold,Swing,NaN,NaN,NaN

              0              1           2   3
0           NaN            NaN         NaN NaN
1       Nominee  Susan Collins   Tom Allen NaN
2         Party     Republican  Democratic NaN
3  Popular vote         444300      279510 NaN
4    Percentage          61.3%       38.6% NaN

         0           1          2      3      4   5
0    Party   Candidate      Votes      %      ± NaN
1      NaN  Democratic  Tom Allen  69932  85.6% NaN
2      NaN  Democratic  Tom Ledue  11795  14.4% NaN
3  Turnout       81727        NaN    NaN    NaN NaN

          0                1              2       3       4      5
0     Party        Candidate          Votes       %       ±    NaN
1       NaN       Republican  Susan Collins  444300  61.33%  +2.9%
2       NaN       Democratic      Tom Allen  279510  38.58%  -3.0%
3       NaN              NaN      write-ins     620   0.09%    NaN
4  Majority           164790            NaN     NaN     NaN    NaN
5   Turnout           724430            NaN     NaN     NaN    NaN
6       NaN  Republican hold          Swing     NaN     NaN    NaN

              0           1            2   3
0           NaN         NaN          NaN NaN
1       Nominee  John Kerry  Jeff Beatty NaN
2         Party  Democratic   Republican NaN
3  Popular vote     1959843       922727 NaN
4    Percentage       65.8%        31.0% NaN

         0           1                2       3       4   5
0    Party   Candidate            Votes       %       ± NaN
1      NaN  Democratic       John Kerry  335923  68.92% NaN
2      NaN  Democratic  Edward O'Reilly  151473  31.08% NaN
3  Turnout      487396              NaN     NaN     NaN NaN

          0                1                       2        3       4        5
0     Party        Candidate                   Votes        %       ±      NaN
1       NaN       Democratic  John Kerry (Incumbent)  1959843  65.82%   -14.2%
2       NaN       Republican             Jeff Beatty   922727  30.99%  +30.99%
3       NaN      Libertarian     Robert J. Underwood    94727   3.18%   -15.1%
4  Majority          1037116                     NaN      NaN     NaN      NaN
5   Turnout          2977631                     NaN      NaN     NaN      NaN
6       NaN  Democratic hold                   Swing      NaN     NaN      NaN

              0           1               2   3
0           NaN         NaN             NaN NaN
1       Nominee  Carl Levin  Jack Hoogendyk NaN
2         Party  Democratic      Republican NaN
3  Popular vote     3038386         1641070 NaN
4    Percentage       62.7%           33.8% NaN

          0                1                       2        3      4      5
0     Party        Candidate                   Votes        %      ±    NaN
1       NaN       Democratic  Carl Levin (Incumbent)  3038386  62.7%  +2.1%
2       NaN       Republican          Jack Hoogendyk  1641070  33.8%  -4.1%
3       NaN      Libertarian            Scotty Boman    76347   1.6%    NaN
4       NaN            Green        Harley Mikkelson    43440   0.9%  +0.1%
5       NaN   U.S. Taxpayers         Michael Nikitin    30827   0.6%    NaN
6       NaN      Natural Law               Doug Dern    18550   0.4%  +0.1%
7  Majority          1397316                     NaN      NaN    NaN    NaN
8   Turnout          4848620                     NaN      NaN    NaN    NaN
9       NaN  Democratic hold                   Swing      NaN    NaN    NaN

              0                 1             2             3
0           NaN               NaN           NaN           NaN
1       Nominee        Al Franken  Norm Coleman  Dean Barkley
2         Party  Democratic (DFL)    Republican  Independence
3  Popular vote           1212629       1212317        437505
4    Percentage            41.99%        41.98%        15.15%

         0                 1                     2       3       4
0    Party         Candidate                 Votes       %     NaN
1      NaN  Democratic (DFL)            Al Franken  164136  65.34%
2      NaN  Democratic (DFL)  Priscilla Lord Faris   74655  29.72%
3      NaN  Democratic (DFL)          Dick Franson    3923   1.56%
4      NaN  Democratic (DFL)            Bob Larson    3152   1.25%
5      NaN  Democratic (DFL)        Rob Fitzgerald    3095   1.23%
6      NaN  Democratic (DFL)            Ole Savior    1227   0.49%
7      NaN  Democratic (DFL)         Alve Erickson    1017   0.40%
8  Turnout            251205                   NaN     NaN     NaN

         0             1                      2     3       4
0    Party     Candidate                  Votes     %     NaN
1      NaN  Independence           Dean Barkley  6678  58.88%
2      NaN  Independence           Jack Uldrich  1405  12.39%
3      NaN  Independence       Stephen Williams   800   7.05%
4      NaN  Independence  Kurt Michael Anderson   761   6.71%
5      NaN  Independence          Doug Williams   639   5.63%
6      NaN  Independence         Darryl Stanton   618   5.45%
7      NaN  Independence              Bill Dahn   440   3.88%
8  Turnout         11341                    NaN   NaN     NaN

         0           1                         2       3       4
0    Party   Candidate                     Votes       %     NaN
1      NaN  Republican  Norm Coleman (Incumbent)  130973  91.32%
2      NaN  Republican              Jack Shepard   12456   8.68%
3  Turnout      143429                       NaN     NaN     NaN

           0                 1                         2        3        4
0      Party         Candidate                     Votes        %      NaN
1        NaN        Republican  Norm Coleman (Incumbent)  1211590  41.988%
2        NaN  Democratic (DFL)                Al Franken  1211375  41.981%
3        NaN      Independence              Dean Barkley   437404   15.19%
4        NaN       Libertarian           Charles Aldrich    13916    0.48%
5        NaN      Constitution            James Niemackl     8905    0.31%
6        NaN         Write-ins                       NaN     2365    0.08%
7  Plurality               215                    0.007%      NaN      NaN
8    Turnout           2885555                       NaN      NaN      NaN

           0                 1                         2        3        4
0      Party         Candidate                     Votes        %      NaN
1        NaN  Democratic (DFL)                Al Franken  1212431  41.991%
2        NaN        Republican  Norm Coleman (Incumbent)  1212206  41.984%
3        NaN      Independence              Dean Barkley   437505   15.15%
4        NaN       Libertarian           Charles Aldrich    13923    0.48%
5        NaN      Constitution            James Niemackl     8907    0.31%
6        NaN         Write-ins                       NaN     2365    0.08%
7  Plurality               225                    0.007%      NaN      NaN
8    Turnout           2887337                       NaN      NaN      NaN

,0,1,2,3,4
0,Party,Candidate,Votes,%,NaN
1,NaN,Democratic (DFL),Al Franken,1212629,41.994%
2,NaN,Republican,Norm Coleman (Incumbent),1212317,41.983%
3,NaN,Independence,Dean Barkley,437505,15.151%
4,NaN,Libertarian,Charles Aldrich,13923,0.48%
5,NaN,Constitution,James Niemackl,8907,0.31%
6,NaN,Write-ins,NaN,2365,0.08%
7,Plurality,312,0.011%,NaN,NaN
8,Turnout,2887646,NaN,NaN,NaN
9,NaN,Democratic (DFL) gain from Republican,NaN,NaN,NaN

              0             1             2   3
0           NaN           NaN           NaN NaN
1       Nominee  Thad Cochran  Erik Fleming NaN
2         Party    Republican    Democratic NaN
3  Popular vote        766111        480915 NaN
4    Percentage         61.4%         38.6% NaN

          0                1             2       3       4       5
0     Party        Candidate         Votes       %       ±     NaN
1       NaN       Republican  Thad Cochran  766111  61.44%  -23.2%
2       NaN       Democratic  Erik Fleming  480915  38.56%     NaN
3  Majority           285196           NaN     NaN     NaN     NaN
4   Turnout          1247026           NaN     NaN     NaN     NaN
5       NaN  Republican hold         Swing     NaN     NaN     NaN

              0             1                2   3
0           NaN           NaN              NaN NaN
1       Nominee  Roger Wicker  Ronnie Musgrove NaN
2         Party    Republican       Democratic NaN
3  Popular vote        683409           560064 NaN
4    Percentage         55.0%            45.0% NaN

          0                1                2       3       4      5
0     Party        Candidate            Votes       %       ±    NaN
1       NaN       Republican     Roger Wicker  683409  54.96%  -8.6%
2       NaN       Democratic  Ronnie Musgrove  560064  45.04%  +9.9%
3  Majority           123345              NaN     NaN     NaN    NaN
4   Turnout          1243473              NaN     NaN     NaN    NaN
5       NaN  Republican hold            Swing     NaN     NaN    NaN

              0           1                2   3
0           NaN         NaN              NaN NaN
1       Nominee  Max Baucus  Robert Kelleher NaN
2         Party  Democratic       Republican NaN
3  Popular vote      345937           128762 NaN
4    Percentage       72.9%            27.1% NaN

             0           1                       2       3        4
0        Party   Candidate                   Votes       %      NaN
1          NaN  Democratic  Max Baucus (Incumbent)  165050  100.00%
2  Total votes      165050                 100.00%     NaN      NaN

             0           1                    2      3       4
0        Party   Candidate                Votes      %     NaN
1          NaN  Republican         Bob Kelleher  26936  36.32%
2          NaN  Republican        Michael Lange  17044  22.98%
3          NaN  Republican         Kirk Bushman  15507  20.91%
4          NaN  Republican         Patty Lovaas   7632  10.29%
5          NaN  Republican        Anton Pearson   4257   5.74%
6          NaN  Republican  Shay Joshua Garnett   2788   3.76%
7  Total votes       74164              100.00%    NaN     NaN

          0                1             2        3       4        5
0     Party        Candidate         Votes        %       ±      NaN
1       NaN       Democratic    Max Baucus   348289  72.92%  +10.18%
2       NaN       Republican  Bob Kelleher   129369  27.08%   -4.65%
3  Majority           218920        45.84%  +14.84%     NaN      NaN
4   Turnout           477658           NaN      NaN     NaN      NaN
5       NaN  Democratic hold         Swing      NaN     NaN      NaN

              0             1            2   3
0           NaN           NaN          NaN NaN
1       Nominee  Mike Johanns  Scott Kleeb NaN
2         Party    Republican   Democratic NaN
3  Popular vote        455854       317456 NaN
4    Percentage         57.5%        40.1% NaN

             0           1             2       3       4
0        Party   Candidate         Votes       %     NaN
1          NaN  Republican  Mike Johanns  112191  78.61%
2          NaN  Republican     Pat Flynn   31560  21.12%
3  Total votes      143751       100.00%     NaN     NaN

             0           1                   2      3       4
0        Party   Candidate               Votes      %     NaN
1          NaN  Democratic         Scott Kleeb  65582  68.37%
2          NaN  Democratic       Tony Raimondo  24141  25.17%
3          NaN  Democratic  James Bryan Wilson   3224   3.36%
4          NaN  Democratic        Larry Marvin   2672   2.80%
5  Total votes       95919             100.00%    NaN     NaN

             0          1              2    3        4
0        Party  Candidate          Votes    %      NaN
1          NaN      Green  Steve Larrick  123  100.00%
2  Total votes        123        100.00%  NaN      NaN

             0          1               2    3        4
0        Party  Candidate           Votes    %      NaN
1          NaN   Nebraska  Barry Richards  209  100.00%
2  Total votes        209         100.00%  NaN      NaN

          0                1                    2       3      4       5
0     Party        Candidate                Votes       %      ±     NaN
1       NaN       Republican         Mike Johanns  455854  57.5%  -25.2%
2       NaN       Democratic          Scott Kleeb  317456  40.1%  +25.5%
3       NaN         Nebraska  Kelly Renee Rosberg   11438   1.4%     NaN
4       NaN            Green        Steve Larrick    7763   1.0%     NaN
5  Majority           138398                  NaN     NaN    NaN     NaN
6   Turnout           792511                  NaN     NaN    NaN     NaN
7       NaN  Republican hold                Swing     NaN    NaN     NaN

              0               1               2   3
0           NaN             NaN             NaN NaN
1       Nominee  Jeanne Shaheen  John E. Sununu NaN
2         Party      Democratic      Republican NaN
3  Popular vote          358438          314403 NaN
4    Percentage           51.6%           45.3% NaN

         0           1                 2      3      4   5
0    Party   Candidate             Votes      %      ± NaN
1      NaN  Democratic    Jeanne Shaheen  43968  88.5% NaN
2      NaN  Democratic  Raymond Stebbins   5281  10.6% NaN
3      NaN         NaN         write-ins    407   0.8% NaN
4  Turnout       49656               NaN    NaN    NaN NaN

         0           1            2      3      4   5
0    Party   Candidate        Votes      %      ± NaN
1      NaN  Republican  John Sununu  60852  88.7% NaN
2      NaN  Republican  Tom Alciere   7084  10.3% NaN
3      NaN         NaN    write-ins    685   1.0% NaN
4  Turnout       68621          NaN    NaN    NaN NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Jeanne Shaheen,358438,51.6%,+5.2%
2,NaN,Republican,John Sununu (Incumbent),314403,45.3%,-5.5%
3,NaN,Libertarian,Ken Blevens,21516,3.1%,+0.9%
4,Majority,44035,NaN,NaN,NaN,NaN
5,Turnout,694357,NaN,NaN,NaN,NaN
6,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0                 1            2   3
0           NaN               NaN          NaN NaN
1       Nominee  Frank Lautenberg  Dick Zimmer NaN
2         Party        Democratic   Republican NaN
3  Popular vote           1951218      1461025 NaN
4    Percentage             56.0%        42.0% NaN

         0           1                  2       3      4   5
0    Party   Candidate              Votes       %      ± NaN
1      NaN  Democratic   Frank Lautenberg  203012  58.9% NaN
2      NaN  Democratic        Rob Andrews  121777  35.3% NaN
3      NaN  Democratic  Donald Cresitello   19743   5.7% NaN
4  Turnout      344532                NaN     NaN    NaN NaN

         0           1                  2      3      4   5
0    Party   Candidate              Votes      %      ± NaN
1      NaN  Republican        Dick Zimmer  84663  45.8% NaN
2      NaN  Republican  Joseph Pennacchio  74546  40.3% NaN
3      NaN  Republican      Murray Sabrin  25576  13.8% NaN
4  Turnout      184785                NaN    NaN    NaN NaN

           0                  1                    2        3      4      5
0      Party          Candidate                Votes        %      ±    NaN
1        NaN         Democratic     Frank Lautenberg  1951218  56.0%  +2.1%
2        NaN         Republican          Dick Zimmer  1461025  42.0%  -2.0%
3        NaN        Independent  Daryl Mikell Brooks    20920   1.0%    NaN
4        NaN        Libertarian       Jason Scheurer    18810   0.5%    NaN
5        NaN        Independent          J.M. Carter    15935   0.5%    NaN
6        NaN        Independent            Jeff Boss    10345   0.3%    NaN
7        NaN  Socialist Workers          Sara Lobman     9187   0.3%    NaN
8   Majority             490193                  NaN      NaN    NaN    NaN
9    Turnout            3482445                  NaN      NaN    NaN    NaN
10       NaN    Democratic hold                Swing      NaN    NaN    NaN

              0           1             2   3
0           NaN         NaN           NaN NaN
1       Nominee   Tom Udall  Steve Pearce NaN
2         Party  Democratic    Republican NaN
3  Popular vote      505128        318522 NaN
4    Percentage       61.3%         38.7% NaN

             0           1          2       3        4
0        Party   Candidate      Votes       %      NaN
1          NaN  Democratic  Tom Udall  141629  100.00%
2  Total votes      141629    100.00%     NaN      NaN

             0           1               2      3       4
0        Party   Candidate           Votes      %     NaN
1          NaN  Republican    Steve Pearce  57953  51.29%
2          NaN  Republican  Heather Wilson  55039  48.71%
3  Total votes      112992         100.00%    NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Tom Udall,505128,61.33%,+26.37%
2,NaN,Republican,Steve Pearce,318522,38.67%,-26.37%
3,Majority,186606,22.66%,-7.43%,NaN,NaN
4,Turnout,823650,NaN,NaN,NaN,NaN
5,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0           1               2   3
0           NaN         NaN             NaN NaN
1       Nominee   Kay Hagan  Elizabeth Dole NaN
2         Party  Democratic      Republican NaN
3  Popular vote     2249311         1887510 NaN
4    Percentage       52.7%           44.2% NaN

         0           1                   2       3      4   5
0    Party   Candidate               Votes       %      ± NaN
1      NaN  Democratic           Kay Hagan  801920  60.1% NaN
2      NaN  Democratic            Jim Neal  239623  18.0% NaN
3      NaN  Democratic  Marcus W. Williams  170970  12.8% NaN
4      NaN  Democratic     Duskin Lassiter   62136   4.6% NaN
5      NaN  Democratic       Howard Staley   60403   4.5% NaN
6  Turnout     1335052                 NaN     NaN    NaN NaN

         0           1                           2       3      4   5
0    Party   Candidate                       Votes       %      ± NaN
1      NaN  Republican  Elizabeth Dole (Incumbent)  460665  90.0% NaN
2      NaN  Republican                Pete DiLauro   51406  10.0% NaN
3  Turnout      512071                         NaN     NaN    NaN NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Kay Hagan,2249311,52.65%,+7.7%
2,NaN,Republican,Elizabeth Dole (Incumbent),1887510,44.18%,-9.4%
3,NaN,Libertarian,Chris Cole,133430,3.17%,+2.1%
4,NaN,Other,Write-Ins,1719,0.0%,0.0%
5,Majority,361801,NaN,NaN,NaN,NaN
6,Turnout,4271970,NaN,NaN,NaN,NaN
7,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0           1            2   3
0           NaN         NaN          NaN NaN
1       Nominee  Jim Inhofe  Andrew Rice NaN
2         Party  Republican   Democratic NaN
3  Popular vote      763375       527736 NaN
4    Percentage       56.7%        39.2% NaN

             0           1            2       3       4
0        Party   Candidate        Votes       %     NaN
1          NaN  Democratic  Andrew Rice  113795  59.65%
2          NaN  Democratic   Jim Rogers   76981  40.35%
3  Total votes      190776      100.00%     NaN     NaN

             0           1                       2       3       4
0        Party   Candidate                   Votes       %     NaN
1          NaN  Republican  Jim Inhofe (Incumbent)  116371  84.18%
2          NaN  Republican        Evelyn R. Rogers   10770   7.79%
3          NaN  Republican               Ted Ryals    7306   5.28%
4          NaN  Republican            Dennis Lopez    3800   2.75%
5  Total votes      138247                 100.00%     NaN     NaN

          0                1                       2       3       4       5
0     Party        Candidate                   Votes       %       ±     NaN
1       NaN       Republican  Jim Inhofe (Incumbent)  763375  56.68%  -0.62%
2       NaN       Democratic             Andrew Rice  527736  39.18%  +2.87%
3       NaN      Independent         Stephen Wallace   55708   4.14%     NaN
4  Majority           235639                  17.50%  -3.50%     NaN     NaN
5   Turnout          1346819                     NaN     NaN     NaN     NaN
6       NaN  Republican hold                   Swing     NaN     NaN     NaN

              0             1             2               3
0           NaN           NaN           NaN             NaN
1       Nominee  Jeff Merkley  Gordon Smith  David Brownlow
2         Party    Democratic    Republican    Constitution
3  Popular vote        864392        805159           92565
4    Percentage         48.9%         45.6%            5.2%

             0           1                2       3       4
0        Party   Candidate            Votes       %     NaN
1          NaN  Democratic     Jeff Merkley  246482  44.82%
2          NaN  Democratic     Steve Novick  230889  41.98%
3          NaN  Democratic    Candy Neville   38367   6.98%
4          NaN  Democratic  Roger S. Obrist   12647   2.30%
5          NaN  Democratic   Pavel Goberman   12056   2.19%
6          NaN  Democratic      David Loera    6127   1.11%
7          NaN  Democratic        Write-ins    3398   0.62%
8  Total votes      549966          100.00%     NaN     NaN

             0           1                         2       3       4
0        Party   Candidate                     Votes       %     NaN
1          NaN  Republican  Gordon Smith (Incumbent)  296330  85.41%
2          NaN  Republican             Gordon Leitch   48560  14.00%
3          NaN  Republican                 Write-ins    2068   0.69%
4  Total votes      309943                   100.00%     NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Jeff Merkley,864392,48.90%,+9.30%
2,NaN,Republican,Gordon H. Smith (Incumbent),805159,45.55%,-10.66%
3,NaN,Constitution,David Brownlow,92565,5.24%,+3.52%
4,NaN,Write-ins,NaN,5388,0.30%,NaN
5,Majority,59233,3.35%,-13.25%,NaN,NaN
6,Turnout,1767504,NaN,NaN,NaN,NaN
7,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0           1              2   3
0           NaN         NaN            NaN NaN
1       Nominee   Jack Reed  Robert Tingle NaN
2         Party  Democratic     Republican NaN
3  Popular vote      320644         116174 NaN
4    Percentage       73.4%          26.6% NaN

         0           1                  2      3      4   5
0    Party   Candidate              Votes      %      ± NaN
1      NaN  Democratic          Jack Reed  48038  86.8% NaN
2      NaN  Democratic  Christopher Young   7277  13.2% NaN
3  Turnout       55315                NaN    NaN    NaN NaN

          0                1           2       3      4      5
0     Party        Candidate       Votes       %      ±    NaN
1       NaN       Democratic   Jack Reed  320644  73.4%  -5.0%
2       NaN       Republican  Bob Tingle  116174  26.6%  +5.0%
3  Majority           204470         NaN     NaN    NaN    NaN
4   Turnout           436818         NaN     NaN    NaN    NaN
5       NaN  Democratic hold       Swing     NaN    NaN    NaN

              0               1           2   3
0           NaN             NaN         NaN NaN
1       Nominee  Lindsey Graham  Bob Conley NaN
2         Party      Republican  Democratic NaN
3  Popular vote         1076150      790216 NaN
4    Percentage           57.5%       42.3% NaN

         0           1             2      3      4   5
0    Party   Candidate         Votes      %      ± NaN
1      NaN  Democratic    Bob Conley  74125  50.3% NaN
2      NaN  Democratic  Michael Cone  73127  49.7% NaN
3  Turnout      147252           NaN    NaN    NaN NaN

         0           1                  2       3      4   5
0    Party   Candidate              Votes       %      ± NaN
1      NaN  Republican     Lindsey Graham  187736  66.8% NaN
2      NaN  Republican  Buddy Witherspoon   93125  33.2% NaN
3  Turnout      280861                NaN     NaN    NaN NaN

          0                1               2        3       4      5
0     Party        Candidate           Votes        %       ±    NaN
1       NaN       Republican  Lindsey Graham  1076534  57.52%  +3.1%
2       NaN       Democratic      Bob Conley   790621  42.25%  -1.9%
3       NaN        Write-ins             NaN     4276   0.23%  +0.1%
4  Majority           285913             NaN      NaN     NaN    NaN
5   Turnout          1871431             NaN      NaN     NaN    NaN
6       NaN  Republican hold           Swing      NaN     NaN    NaN

              0            1             2   3
0           NaN          NaN           NaN NaN
1       Nominee  Tim Johnson  Joel Dykstra NaN
2         Party   Democratic    Republican NaN
3  Popular vote       237835        142766 NaN
4    Percentage        62.5%         37.5% NaN

             0           1              2      3       4
0        Party   Candidate          Votes      %     NaN
1          NaN  Republican   Joel Dykstra  34598  65.74%
2          NaN  Republican    Sam Kephart  13047  24.79%
3          NaN  Republican  Charles Gonyo   4983   9.47%
4  Total votes       52628        100.00%    NaN     NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Tim Johnson (Incumbent),237889,62.49%,+12.87%
2,NaN,Republican,Joel Dykstra,142784,37.51%,-11.96%
3,Majority,95105,24.98%,+24.83%,NaN,NaN
4,Turnout,380673,NaN,NaN,NaN,NaN
5,NaN,Democratic hold,Swing,NaN,NaN,NaN

              0                1           2   3
0           NaN              NaN         NaN NaN
1       Nominee  Lamar Alexander    Bob Tuke NaN
2         Party       Republican  Democratic NaN
3  Popular vote          1571637      762779 NaN
4    Percentage           65.14%      32.64% NaN

             0           1                  2      3       4
0        Party   Candidate              Votes      %     NaN
1          NaN  Democratic           Bob Tuke  59050  32.21%
2          NaN  Democratic      Gary G. Davis  39119  21.34%
3          NaN  Democratic       Mike Padgett  33471  18.26%
4          NaN  Democratic    Mark E. Clayton  32309  17.62%
5          NaN  Democratic      Kenneth Eaton  14702   8.02%
6          NaN  Democratic  Leonard D. Ladner   4697   2.55%
7  Total votes      183348            100.00%    NaN     NaN

             0           1                            2       3        4
0        Party   Candidate                        Votes       %      NaN
1          NaN  Republican  Lamar Alexander (Incumbent)  244222  100.00%
2  Total votes      244222                      100.00%     NaN      NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Republican,Lamar Alexander (Incumbent),1579477,65.14%,+10.87%
2,NaN,Democratic,Bob Tuke,767236,31.64%,-12.69%
3,NaN,Independent,Edward L. Buck,31631,1.30%,NaN
4,NaN,Independent,Christopher G. Fenner,11073,0.46%,NaN
5,NaN,Independent,Daniel Towers Lewis,9367,0.39%,NaN
6,NaN,Independent,Chris Lugo,9170,0.38%,NaN
7,NaN,Independent,Ed Lawhorn,8986,0.37%,NaN
8,NaN,Independent,David Gatchell,7645,0.32%,NaN
9,Majority,812241,33.50%,+23.56%,NaN,NaN
10,Turnout,2424585,NaN,NaN,NaN,NaN
11,NaN,Republican hold,Swing,NaN,NaN,NaN

              0            1             2   3
0           NaN          NaN           NaN NaN
1       Nominee  John Cornyn  Rick Noriega NaN
2         Party   Republican    Democratic NaN
3  Popular vote      4337469       3389365 NaN
4    Percentage        54.8%         42.8% NaN

       0           1             2        3       4
0  Party   Candidate         Votes        %     NaN
1    NaN  Democratic  Rick Noriega  1110579  51.01%
2    NaN  Democratic    Gene Kelly   584966  26.87%
3    NaN  Democratic  Ray McMurrey   269402  12.37%
4    NaN  Democratic   Rhett Smith   213305   9.75%

       0           1              2       3       4       5
0  Party   Candidate          Votes       %       ±     NaN
1    NaN  Republican    John Cornyn  997216  81.48%  +4.17%
2    NaN  Republican  Larry Kilgore  226649  18.52%  +0.00%

          0                1                    2        3       4       5
0     Party        Candidate                Votes        %       ±     NaN
1       NaN       Republican          John Cornyn  4337469  54.82%  -0.48%
2       NaN       Democratic         Rick Noriega  3389365  42.83%  -0.50%
3       NaN      Libertarian  Yvonne Adams Schick   185241   2.34%  +1.55%
4  Majority           948104                  NaN      NaN     NaN     NaN
5   Turnout          7912075               58.28%      NaN     NaN     NaN
6       NaN  Republican hold                Swing      NaN     NaN     NaN

              0            1            2   3
0           NaN          NaN          NaN NaN
1       Nominee  Mark Warner  Jim Gilmore NaN
2         Party   Democratic   Republican NaN
3  Popular vote      2369327      1228830 NaN
4    Percentage        65.0%        33.7% NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Mark Warner,2369327,65.03%,+65.03%
2,NaN,Republican,Jim Gilmore,1228830,33.72%,-48.85%
3,NaN,Independent Greens,Glenda Parker,21690,0.60%,+0.60%
4,NaN,Libertarian,Bill Redpath,20269,0.56%,+0.56%
5,NaN,Write-ins,NaN,3178,0.09%,-0.47%
6,Majority,1140497,31.30%,-41.53%,NaN,NaN
7,Turnout,3643294,NaN,NaN,NaN,NaN
8,NaN,Democratic gain from Republican,Swing,NaN,NaN,NaN

              0                1           2   3
0           NaN              NaN         NaN NaN
1       Nominee  Jay Rockefeller   Jay Wolfe NaN
2         Party       Democratic  Republican NaN
3  Popular vote           444107      252764 NaN
4    Percentage            63.7%       36.3% NaN

         0           1                            2       3      4   5
0    Party   Candidate                        Votes       %      ± NaN
1      NaN  Democratic  Jay Rockefeller (Incumbent)  271370  77.1% NaN
2      NaN  Democratic              Sheirl Fletcher   51073  14.5% NaN
3      NaN  Democratic              Billy Hendricks   29707   8.4% NaN
4  Turnout      352150                          NaN     NaN    NaN NaN

         0           1          2    3        4   5
0    Party   Candidate      Votes    %        ± NaN
1      NaN  Republican  Jay Wolfe  NaN  100.00% NaN
2  Turnout         NaN    100.00%  NaN      NaN NaN

,0,1,2,3,4,5
0,Party,Candidate,Votes,%,±,NaN
1,NaN,Democratic,Jay Rockefeller (Incumbent),447560,63.7%,+0.6%
2,NaN,Republican,Jay Wolfe,254629,36.3%,-0.6%
3,Majority,192931,NaN,NaN,NaN,NaN
4,Turnout,702189,NaN,NaN,NaN,NaN
5,NaN,Democratic hold,Swing,NaN,NaN,NaN

              0           1               2   3
0           NaN         NaN             NaN NaN
1       Nominee   Mike Enzi  Chris Rothfuss NaN
2         Party  Republican      Democratic NaN
3  Popular vote      189046           60631 NaN
4    Percentage       75.6%           24.3% NaN

             0           1               2      3       4
0        Party   Candidate           Votes      %     NaN
1          NaN  Democratic  Chris Rothfuss  14221  62.38%
2          NaN  Democratic      Al Hamburg   8578  37.62%
3  Total votes       22799         100.00%    NaN     NaN

             0           1                      2      3        4
0        Party   Candidate                  Votes      %      NaN
1          NaN  Republican  Mike Enzi (Incumbent)  69195  100.00%
2  Total votes       69195                100.00%    NaN      NaN

          0                1               2       3       4       5
0     Party        Candidate           Votes       %       ±     NaN
1       NaN       Republican       Mike Enzi  189046  75.63%  +2.68%
2       NaN       Democratic  Chris Rothfuss   60631  24.26%  -2.79%
3       NaN        Write-ins             NaN     269   0.11%     NaN
4  Majority           128415          51.38%  +5.47%     NaN     NaN
5   Turnout           249946             NaN     NaN     NaN     NaN
6       NaN  Republican hold           Swing     NaN     NaN     NaN

              0              1            2   3
0           NaN            NaN          NaN NaN
1       Nominee  John Barrasso  Nick Carter NaN
2         Party     Republican   Democratic NaN
3  Popular vote         183063        66202 NaN
4    Percentage          73.4%        26.5% NaN

             0           1                 2      3       4
0        Party   Candidate             Votes      %     NaN
1          NaN  Democratic       Nick Carter  12316  50.68%
2          NaN  Democratic  Keith Goodenough  11984  49.32%
3  Total votes       22799           100.00%    NaN     NaN

             0           1                          2      3        4
0        Party   Candidate                      Votes      %      NaN
1          NaN  Republican  John Barrasso (Incumbent)  68194  100.00%
2  Total votes       68194                    100.00%    NaN      NaN

          0                1              2       3       4       5
0     Party        Candidate          Votes       %       ±     NaN
1       NaN       Republican  John Barrasso  183063  73.35%  +3.37%
2       NaN       Democratic    Nick Carter   66202  26.53%  -3.33%
3       NaN             None      Write-ins     293   0.12%     NaN
4  Majority           116861         46.83%  +6.70%     NaN     NaN
5   Turnout           249558            NaN     NaN     NaN     NaN
6       NaN  Republican hold          Swing     NaN     NaN     NaN

In [15]:
print(election_collection_raw[year][1][0].shape)
print(election_collection_raw[year][1][1].shape)

(3, 6)
(35, 6)

In [24]:
for u in election_collection_raw[year][1][0].iloc[:,4]:
    if isinstance(u, str) and 'elected' in u:
        print('faslidfjasedfhaedfng')
        
for u in election_collection_raw[year][1][1].iloc[:,4]:
    if isinstance(u, str) and 'elected' in u:
        print('faslidfjasedfhaedfng')

faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng
faslidfjasedfhaedfng

In [25]:
test_list = []
test_list.append(election_collection_raw['1918'])
test_list.append(election_collection_raw['1920'])
test_list.append(election_collection_raw['1976'])
test_list.append(election_collection_raw['2006'])
test_list.append(election_collection_raw['2008'])

In [83]:
test_res = []
for coll in test_list:
    holder = []
    for table in coll[1]:
        has_elected = False
        
        for u in table.iloc[:,4]:
            if isinstance(u, str) and 'elected' in u:
                has_elected = True
        if has_elected == True:
            holder.append(table)
    
        print(len(holder))
    if len(holder) > 1:
        is_match = holder[0].iloc[1,:] == holder[1].iloc[1,:]
    
        if is_match.sum() == 3:
            fin_tab = holder[1].append(holder[0], ignore_index=True)
            test_res.append(fin_tab)
    else:
        test_res.extend(holder)

1
2
1
2
1
0
1
1
2

In [84]:
test_res[-1]

,0,1,2,3,4,5
0,State(linked tosummaries below),Incumbent,Results,Candidates,NaN,NaN
1,Senator,Party,Electoral history,NaN,NaN,NaN
2,Alabama,Jeff Sessions,Republican,19962002,Incumbent re-elected.,Jeff Sessions (Republican) 63.4% Vivian Davis ...
3,Alaska,Ted Stevens,Republican,1968 (Appointed)1970 (Special)1972197819841990...,Incumbent lost re-election.New member elected....,Mark Begich (Democratic) 47.8% Ted Stevens (Re...
4,Arkansas,Mark Pryor,Democratic,2002,Incumbent re-elected.,Mark Pryor (Democratic) 79.5% Rebekah Kennedy ...
5,Colorado,Wayne Allard,Republican,19962002,Incumbent retired.New member elected.Democrati...,Mark Udall (Democratic) 52.8% Bob Schaffer (Re...
6,Delaware,Joe Biden,Democratic,197219781984199019962002,Incumbent re-elected.,Joe Biden (Democratic) 64.7% Christine O'Donne...
7,Georgia,Saxby Chambliss,Republican,2002,Incumbent re-elected.,Saxby Chambliss (Republican) 49.8% Jim Martin ...
8,Idaho,Larry Craig,Republican,199019962002,Incumbent retired.New member elected.Republica...,Jim Risch (Republican) 57.7% Larry LaRocco (De...
9,Illinois,Dick Durbin,Democratic,19962002,Incumbent re-elected.,Dick Durbin (Democratic) 67.8% Steve Sauerberg...
10,Iowa,Tom Harkin,Democratic,1984199019962002,Incumbent re-elected.,Tom Harkin (Democratic) 62.7% Christopher Reed...
11,Kansas,Pat Roberts,Republican,19962002,Incumbent re-elected.,Pat Roberts (Republican) 60.0%Jim Slattery (De...
12,Kentucky,Mitch McConnell,Republican,1984199019962002,Incumbent re-elected.,Mitch McConnell (Republican) 53.0% Bruce Lunsf...
13,Louisiana,Mary Landrieu,Democratic,19962002,Incumbent re-elected.,Mary Landrieu (Democratic) 52.1% John Kennedy ...
14,Maine,Susan Collins,Republican,19962002,Incumbent re-elected.,Susan Collins (Republican) 61.3% Tom Allen (De...
15,Massachusetts,John Kerry,Democratic,1984199019962002,Incumbent re-elected.,John Kerry (Democratic) 65.8% Jeff Beatty (Rep...
16,Michigan,Carl Levin,Democratic,19781984199019962002,Incumbent re-elected.,Carl Levin (Democratic) 62.7% Jack Hoogendyk (...
17,Minnesota,Norm Coleman,Republican,2002,Incumbent lost re-election.New member elected....,Al Franken (DFL) 41.99% Norm Coleman (Republic...
18,Mississippi,Thad Cochran,Republican,19781984199019962002,Incumbent re-elected.,Thad Cochran (Republican) 61.4% Erik Fleming (...
19,Montana,Max Baucus,Democratic,19781984199019962002,Incumbent re-elected.,Max Baucus (Democratic) 72.9% Bob Kelleher (Re...
20,Nebraska,Chuck Hagel,Republican,19962002,Incumbent retired.New member elected.Republica...,Mike Johanns (Republican) 57.5% Scott Kleeb (D...
21,New Hampshire,John E. Sununu,Republican,2002,Incumbent lost re-election.New member elected....,Jeanne Shaheen (Democratic) 51.7% John E. Sunu...
22,New Jersey,Frank Lautenberg,Democratic,19821982 (Appointed)198819942000 (Retired)2002,Incumbent re-elected.,Frank Lautenberg (Democratic) 56.0% Dick Zimme...
23,New Mexico,Pete Domenici,Republican,197219781984199019962002,Incumbent retired.New member elected.Democrati...,Tom Udall (Democratic) 61.3% Steve Pearce (Rep...
24,North Carolina,Elizabeth Dole,Republican,2002,Incumbent lost re-election.New member elected....,Kay Hagan (Democratic) 52.7% Elizabeth Dole (R...
25,Oklahoma,Jim Inhofe,Republican,1994 (Special)19962002,Incumbent re-elected.,Jim Inhofe (Republican) 56.7% Andrew Rice (Dem...
26,Oregon,Gordon H. Smith,Republican,19962002,Incumbent lost re-election.New member elected....,Jeff Merkley (Democratic) 48.9% Gordon H. Smit...
27,Rhode Island,Jack Reed,Democratic,19962002,Incumbent re-elected.,Jack Reed (Democratic) 73.4% Robert Tingle (Re...
28,South Carolina,Lindsey Graham,Republican,2002,Incumbent re-elected.,Lindsey Graham (Republican) 57.5% Bob Conley (...
29,South Dakota,Tim Johnson,Democratic,19962002,Incumbent re-elected.,Tim Johnson (Democratic) 62.5% Joel Dykstra (R...
30,Tennessee,Lamar Alexander,Republican,2002,Incumbent re-elected.,Lamar Alexander (Republican) 65.1% Bob Tuke (D...
31,Texas,John Cornyn,Republican,2002,Incumbent re-elected.,John Cornyn (Republican) 54.8% Rick Noriega (D...
32,Virginia,John Warner,Republican,19781984199019962002,Incumbent retired.New member elected.Democrati...,Mark Warner (Democratic) 65.0% Jim Gilmore (Re...
33,West Virginia,Jay Rockefeller,Democratic,1984199019962002,Incumbent re-elected.,Jay Rockefeller (Democratic) 63.7% Jay Wolfe (...
34,Wyoming,Mike Enzi,Republican,19962002,Incumbent re-elected.,Mike Enzi (Republican) 75.6% Chris Rothfuss (D...
35,State(linked tosummaries below),Incumbent,Results,Candidates,NaN,NaN
36,Senator,Party,Electoral history,NaN,NaN,NaN
37,Mississippi(Class 1),Roger Wicker,Republican,2007 (Appointed),Interim appointee elected.,Roger Wicker (Republican) 55.0% Ronnie Musgrov...
38,Wyoming(Class 1),John Barrasso,Republican,2007 (Appointed),Interim appointee elected.,John Barrasso (Republican) 73.4% Nick Carter (...

In [85]:
test_res[-2]

,0,1,2,3,4,5
0,State(linked tosections below),Incumbent,Results,Candidates,NaN,NaN
1,Senator,Party,Electoral history,NaN,NaN,NaN
2,Arizona,Jon Kyl,Republican,19942000,Incumbent re-elected.,Jon Kyl (Republican) 53.3% Jim Pederson (Democ...
3,California,Dianne Feinstein,Democratic,1992 (Special)19942000,Incumbent re-elected.,Dianne Feinstein (Democratic) 59.4% Dick Mount...
4,Connecticut,Joe Lieberman,Democratic,198819942000,"Incumbent lost renomination, but re-elected.Co...",Joe Lieberman (Connecticut for Lieberman) 49.7...
5,Delaware,Tom Carper,Democratic,2000,Incumbent re-elected.,Tom Carper (Democratic) 67.1% Jan Ting (Republ...
6,Florida,Bill Nelson,Democratic,2000,Incumbent re-elected.,Bill Nelson (Democratic) 60.3% Katherine Harri...
7,Hawaii,Daniel Akaka,Democratic,1990 (Appointed)1990 (Special)19942000,Incumbent re-elected.,Daniel Akaka (Democratic) 61.4% Cynthia Thiele...
8,Indiana,Richard Lugar,Republican,19761982198819942000,Incumbent re-elected.,Richard Lugar (Republican) 87.3% Steve Osborn ...
9,Maine,Olympia Snowe,Republican,19942000,Incumbent re-elected.,Olympia Snowe (Republican) 74.4% Jean Hay Brig...
10,Maryland,Paul Sarbanes,Democratic,19761982198819942000,Incumbent retired.New senator elected.Democrat...,Ben Cardin (Democratic) 54.2% Michael Steele (...
11,Massachusetts,Ted Kennedy,Democratic,1962 (Special)1964197019761982198819942000,Incumbent re-elected.,Ted Kennedy (Democratic) 69.5% Kenneth Chase (...
12,Michigan,Debbie Stabenow,Democratic,2000,Incumbent re-elected.,Debbie Stabenow (Democratic) 56.9% Mike Boucha...
13,Minnesota,Mark Dayton,Democratic,2000,Incumbent retired.New senator elected.Democrat...,Amy Klobuchar (Democratic-Farmer-Labor) 58.1% ...
14,Mississippi,Trent Lott,Republican,198819942000,Incumbent re-elected.,Trent Lott (Republican) 63.6% Erik Fleming (De...
15,Missouri,Jim Talent,Republican,2002 (Special),Incumbent lost re-election.New senator elected...,Claire McCaskill (Democratic) 49.6% Jim Talent...
16,Montana,Conrad Burns,Republican,198819942000,Incumbent lost re-election.New senator elected...,Jon Tester (Democratic) 49.2% Conrad Burns (Re...
17,Nebraska,Ben Nelson,Democratic,2000,Incumbent re-elected.,Ben Nelson (Democratic) 63.9% Pete Ricketts (R...
18,Nevada,John Ensign,Republican,2000,Incumbent re-elected.,John Ensign (Republican) 55.4% Jack Carter (De...
19,New Jersey,Bob Menendez,Democratic,2006 (Appointed),Interim appointee elected.,Bob Menendez (Democratic) 53.4% Thomas Kean Jr...
20,New Mexico,Jeff Bingaman,Democratic,1982198819942000,Incumbent re-elected.,Jeff Bingaman (Democratic) 70.6% Allen McCullo...
21,New York,Hillary Clinton,Democratic,2000,Incumbent re-elected.,Hillary Clinton (Democratic) 67.0% John Spence...
22,North Dakota,Kent Conrad,Democratic,19861992 (Retired)1992 (Special)19942000,Incumbent re-elected.,Kent Conrad (Democratic) 68.8% Dwight Grotberg...
23,Ohio,Mike DeWine,Republican,19942000,Incumbent lost re-election.New senator elected...,Sherrod Brown (Democratic) 56.2% Mike DeWine (...
24,Pennsylvania,Rick Santorum,Republican,19942000,Incumbent lost re-election.New senator elected...,Bob Casey Jr. (Democratic) 58.7% Rick Santorum...
25,Rhode Island,Lincoln Chafee,Republican,1999 (Appointed)2000,Incumbent lost re-election.New senator elected...,Sheldon Whitehouse (Democratic) 53.5% Lincoln ...
26,Tennessee,Bill Frist,Republican,19942000,Incumbent retired.New senator elected.Republic...,Bob Corker (Republican) 50.7% Harold Ford Jr. ...
27,Texas,Kay Bailey Hutchison,Republican,1993 (Special)19942000,Incumbent re-elected.,Kay Bailey Hutchison (Republican) 61.7% Barbar...
28,Utah,Orrin Hatch,Republican,19761982198819942000,Incumbent re-elected.,Orrin Hatch (Republican) 62.6% Pete Ashdown (D...
29,Vermont,Jim Jeffords,Independent,198819942000,Incumbent retired.New senator elected.Independ...,Bernie Sanders (Independent) 65.4% Richard Tar...
30,Virginia,George Allen,Republican,2000,Incumbent lost re-election.New senator elected...,Jim Webb (Democratic) 49.6% George Allen (Repu...
31,Washington,Maria Cantwell,Democratic,2000,Incumbent re-elected.,Maria Cantwell (Democratic) 56.85% Mike McGavi...
32,West Virginia,Robert Byrd,Democratic,19581964197019761982198819942000,Incumbent re-elected.,Robert Byrd (Democratic) 64.4% John Raese (Rep...
33,Wisconsin,Herb Kohl,Democratic,198819942000,Incumbent re-elected.,Herb Kohl (Democratic) 67.31% Robert Lorge (Re...
34,Wyoming,Craig L. Thomas,Republican,19942000,Incumbent re-elected.,Craig L. Thomas (Republican) 69.99% Dale Grout...

In [88]:
test_res[-3]

,0,1,2,3,4,5
0,State,Incumbent,Results,Candidates,NaN,NaN
1,Senator,Party,Electoral history,NaN,NaN,NaN
2,Arizona,Paul Fannin,Republican,19641970,Incumbent retired.New senator elected.Democrat...,Dennis DeConcini (Democratic) 54.0% Sam Steige...
3,California,John V. Tunney,Democratic,19701971 (Appointed),Incumbent lost re-election.New senator elected...,S. I. Hayakawa (Republican) 50.2% John V. Tunn...
4,Connecticut,Lowell Weicker,Republican,1970,Incumbent re-elected.,Lowell Weicker (Republican) 57.7% Gloria Schaf...
5,Delaware,William Roth,Republican,19701971 (Appointed),Incumbent re-elected.,William Roth (Republican) 55.8% Thomas C. Malo...
6,Florida,Lawton Chiles,Democratic,1970,Incumbent re-elected.,Lawton Chiles (Democratic) 63.0% John Grady (R...
7,Hawaii,Hiram Fong,Republican,195919641970,Incumbent retired.New senator elected.Democrat...,Spark Matsunaga (Democratic) 53.7% William F. ...
8,Indiana,Vance Hartke,Democratic,195819641970,Incumbent lost re-election.New senator elected...,Richard Lugar (Republican) 58.8% Vance Hartke ...
9,Maine,Edmund Muskie,Democratic,195819641970,Incumbent re-elected.,Edmund Muskie (Democratic) 60.2% Robert A. G. ...
10,Maryland,J. Glenn Beall Jr.,Republican,1970,Incumbent lost re-election.New senator elected...,Paul Sarbanes (Democratic) 56.5% J. Glenn Beal...
11,Massachusetts,Ted Kennedy,Democratic,1962 (Special)19641970,Incumbent re-elected.,Ted Kennedy (Democratic) 69.3% Michael S. Robe...
12,Michigan,Philip Hart,Democratic,195819641970,Incumbent retired.New senator elected.Democrat...,Donald Riegle (Democratic) 52.5% Marvin L. Esc...
13,Minnesota,Hubert Humphrey,Democratic,1948195419601964 (Resigned)1970,Incumbent re-elected.,Hubert Humphrey (Democratic) 67.5% Gerald Brek...
14,Mississippi,John C. Stennis,Democratic,1947 (Special)1952195819641970,Incumbent re-elected.,John C. Stennis (Democratic) Unopposed
15,Missouri,Stuart Symington,Democratic,1952195819641970,Incumbent retired.New senator elected.Republic...,John Danforth (Republican) 56.9% Warren E. Hea...
16,Montana,Mike Mansfield,Democratic,1952195819641970,Incumbent retired.New senator elected.Democrat...,John Melcher (Democratic) 64.2% Stanley C. Bur...
17,Nebraska,Roman Hruska,Republican,1954 (Special)195819641970,Incumbent retired.New senator elected.Democrat...,Edward Zorinsky (Democratic) 52.4% John Y. McC...
18,Nevada,Howard Cannon,Democratic,195819641970,Incumbent re-elected.,Howard Cannon (Democratic) 63.0% David Towell ...
19,New Jersey,Harrison A. Williams,Democratic,195819641970,Incumbent re-elected.,Harrison A. Williams (Democratic) 60.7% David ...
20,New Mexico,Joseph Montoya,Democratic,1964 (Special)19641970,Incumbent lost re-election.New senator elected...,Harrison Schmitt (Republican) 56.8% Joseph Mon...
21,New York,James L. Buckley,Conservative,1970,Incumbent lost re-election as a Republican.New...,Daniel Patrick Moynihan (Democratic) 54.2% Jam...
22,North Dakota,Quentin Burdick,Democratic,1960 (Special)19641970,Incumbent re-elected.,Quentin Burdick (Democratic) 62.1% Robert Stro...
23,Ohio,Robert Taft Jr.,Republican,1970,Incumbent lost re-election.New senator elected...,Howard Metzenbaum (Democratic) 49.5% Robert Ta...
24,Pennsylvania,Hugh Scott,Republican,195819641970,Incumbent retired.New senator elected.Republic...,John Heinz (Republican) 52.4% William J. Green...
25,Rhode Island,John Pastore,Democratic,1950 (Special)1952195819641970,Incumbent retired.New senator elected.Republic...,John Chafee (Republican) 57.7% Richard P. Lorb...
26,Tennessee,Bill Brock,Republican,1970,Incumbent lost re-election.New senator elected...,Jim Sasser (Democratic) 52.5% Bill Brock (Repu...
27,Texas,Lloyd Bentsen,Democratic,1970,Incumbent re-elected.,Lloyd Bentsen (Democratic) 56.8% Alan Steelman...
28,Utah,Frank Moss,Democratic,195819641970,Incumbent lost re-election.New senator elected...,Orrin Hatch (Republican) 53.7% Frank Moss (Dem...
29,Vermont,Robert Stafford,Republican,1971 (Appointed)1972 (Special),Incumbent re-elected.,Robert Stafford (Republican) 50.0% Thomas P. S...
30,Virginia,Harry F. Byrd Jr.,Independent,1965 (Appointed)1966 (Special)1970,Incumbent re-elected.,Harry F. Byrd Jr. (Independent) 57.2% Elmo Zum...
31,Washington,Henry M. Jackson,Democratic,1952195819641970,Incumbent re-elected.,Henry M. Jackson (Democratic) 71.8% George M. ...
32,West Virginia,Robert Byrd,Democratic,195819641970,Incumbent re-elected.,Robert Byrd (Democratic) 99.9%
33,Wisconsin,William Proxmire,Democratic,1957 (Special)195819641970,Incumbent re-elected.,William Proxmire (Democratic) 72.2% Stanley Yo...
34,Wyoming,Gale W. McGee,Democratic,195819641970,Incumbent lost re-election.New senator elected...,Malcolm Wallop (Republican) 54.7% Gale W. McGe...

In [89]:
test_res[-4]

,0,1,2,3,4,5
0,State,Incumbent,Results,Candidates,NaN,NaN
1,Senator,Party,Electoral history,NaN,NaN,NaN
2,Alabama,Oscar W. Underwood,Democratic,1914,Incumbent re-elected.,"Oscar W. Underwood (Democratic), 66.% L. H. Re..."
3,Arizona,Marcus A. Smith,Democratic,19121914,Incumbent lost re-election.New senator elected...,"Ralph H. Cameron (Republican), 55.2% Marcus A...."
4,Arkansas,William F. Kirby,Democratic,1916 (Special),Incumbent lost renomination.New senator electe...,"Thaddeus H. Caraway (Democratic), 65.9% Charle..."
5,California,James D. Phelan,Democratic,1914,Incumbent lost re-election.New senator elected...,"Samuel M. Shortridge (Republican), 49.0% James..."
6,Colorado,Charles S. Thomas,Democratic,1913 (Special)1914,Incumbent retired.New senator elected.Republic...,"Samuel D. Nicholson (Republican), 54.5% Tully ..."
7,Connecticut,Frank B. Brandegee,Republican,1905 (Special)19091914,Incumbent re-elected.,"Frank B. Brandegee (Republican), 59.3% Augusti..."
8,Florida,Duncan U. Fletcher,Democratic,1909 (Appointed)1909 (Special)1914,Incumbent re-elected.,"Duncan U. Fletcher (Democratic), 69.5% John M...."
9,Georgia,Hoke Smith,Democratic,1911 (Special)1914,Incumbent lost renomination.New senator electe...,"Thomas E. Watson (Democratic), 94.9% Harvey S...."
10,Idaho,John F. Nugent,Democratic,1918 (Appointed)1918 (Special),Incumbent lost re-election.New senator elected...,"Frank R. Gooding (Republican), 54.1% John F. N..."
11,Illinois,Lawrence Y. Sherman,Republican,1913 (Special)1914,Incumbent retired.New senator elected.Republic...,"William B. McKinley (Republican), 66.8% Peter ..."
12,Indiana,James E. Watson,Republican,1916 (Special),Incumbent re-elected.,"James E. Watson (Republican), 54.6% Thomas Tag..."
13,Iowa,Albert B. Cummins,Republican,1908 (Special)1914,Incumbent re-elected.,"Albert B. Cummins (Republican), 61.4% Claude R..."
14,Kansas,Charles Curtis,Republican,1907 (Special)19071913 (Lost)1914,Incumbent re-elected.,"Charles Curtis (Republican), 64.0% George H. H..."
15,Kentucky,John C. W. Beckham,Democratic,1914,Incumbent lost re-election.New senator elected...,"Richard P. Ernst (Republican), 50.3% John C. W..."
16,Louisiana,Edward J. Gay,Democratic,1918 (Special),Incumbent retired.New senator elected.Democrat...,"Edwin S. Broussard (Democratic), unopposed"
17,Maryland,John W. Smith,Democratic,1908 (Special)19081914,Incumbent lost re-election.New senator elected...,"Ovington E. Weller (Republican), 47.3% John W...."
18,Missouri,Selden P. Spencer,Republican,1918 (Special),Incumbent re-elected.,"Selden P. Spencer (Republican), 53.7% Breckenr..."
19,Nevada,Charles B. Henderson,Democratic,1918 (Appointed)1918 (Special),Incumbent lost re-election.New senator elected...,"Tasker L. Oddie (Republican), 42.1% Charles B...."
20,New Hampshire,George H. Moses,Republican,1918 (Special),Incumbent re-elected.,"George H. Moses (Republican), 57.7% Raymond B...."
21,New York,James W. Wadsworth Jr.,Republican,1914,Incumbent re-elected.,James W. Wadsworth Jr. (Republican) 52.4% Harr...
22,North Carolina,Lee S. Overman,Democratic,190319091914,Incumbent re-elected.,"Lee S. Overman (Democratic), 57.5% A. E. Holto..."
23,North Dakota,Asle J. Gronna,Republican,1911 (Special)1914,Incumbent lost renomination.New senator electe...,"Edwin F. Ladd (Republican), 59.8% H. H. Perry ..."
24,Ohio,Warren G. Harding,Republican,1914,Incumbent retired to run for U.S. President.Ne...,"Frank B. Willis (Republican), 59.1% William Al..."
25,Oklahoma,Thomas P. Gore,Democratic,1907 (New state)19091914,Incumbent lost renomination.New senator electe...,"John W. Harreld (Republican), 50.6% Scott Ferr..."
26,Oregon,George E. Chamberlain,Democratic,19091914,Incumbent lost re-election.New senator elected...,"Robert N. Stanfield (Republican), 50.7% George..."
27,Pennsylvania,Boies Penrose,Republican,1897190319091914,Incumbent re-elected.,"Boies Penrose (Republican), 59.9% John A. Farr..."
28,South Carolina,Ellison D. Smith,Democratic,19091914,Incumbent re-elected.,"Ellison D. Smith (Democratic), unopposed"
29,South Dakota,Edwin S. Johnson,Democratic,19091914,Incumbent retired.New senator elected.Republic...,"Peter Norbeck (Republican), 50.1% Tom Ayres (I..."
30,Utah,Reed Smoot,Republican,190319091914,Incumbent re-elected.,"Reed Smoot (Republican), 56.6% Milton H. Welli..."
31,Vermont,William P. Dillingham,Republican,1900 (Special)190219081914,Incumbent re-elected.,"William P. Dillingham (Republican), 78.0% Howa..."
32,Washington,Wesley L. Jones,Republican,19091914,Incumbent re-elected.,"Wesley L. Jones (Republican), 56.4% C. L. Fran..."
33,Wisconsin,Irvine L. Lenroot,Republican,1918 (Special),Incumbent re-elected.,"Irvine L. Lenroot (Republican), 41.6% James Th..."
34,State,Incumbent,Results,Candidates,NaN,NaN
35,Senator,Party,Electoral history,NaN,NaN,NaN
36,Alabama(Class 2),Braxton B. Comer,Democratic,1920 (Appointed),Interim appointee retired.New senator elected ...,"J. Thomas Heflin (Democratic), 69.3% C. P. Lun..."
37,Virginia(Class 2),Carter Glass,Democratic,1920 (Appointed),"Interim appointee elected November 2, 1920.","Carter Glass (Democratic), 91.3% J. R. Pollard..."

* Create a table with names as index and state as values .loc name of candidates to get state value
* Use table of each year's general summary to then pull the general elections out of whole list (index 2 in colleciton) based upon names in table + non-uniform party column
    * Need to merge (if special election) tables in collection index 1

* 1924 = 10
* 1926 = 12
* 1928 = 10
* Pull only tables with `shape[1]` of 5 or 6.
* Table 2 is always summary of senate leaders

Why after the 17th amendment?? [Link](https://en.wikipedia.org/wiki/Seventeenth_Amendment_to_the_United_States_Constitution)

For 1920 forward, proceed like 1976. Prior to this, will need to use first table with general info.

* **Clean up NaN value table from top of pages** -- Use index 2 to grab  nested table from `'infobox vevent'`.
* Take list of states of top tables and map to dfs
* Get demographic info wikidata
* eda time series of state party (heatmap)
* NLP on names, etc.
* [link for slider viz](https://medium.com/@sjacks/the-journey-to-an-attractive-visualization-bac019506a49)