# Capstone

## Imports & links

In [1]:
import functions as dlf
import pandas as pd
import numpy as np
import requests
import regex
import pickle
from importlib import reload
from bs4 import BeautifulSoup
from genderize import Genderize

> [Link to Brookings](https://www.brookings.edu/multi-chapter-report/vital-statistics-on-congress/)

> [Link to BallotPedia](https://ballotpedia.org/Legislative_Branch)

> [Link to WikiPedia](https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections)

> [Link to Wiki-Category (U.S. Senator)](https://commons.wikimedia.org/wiki/Category:Senators_of_the_United_States)

Why after the 17th amendment?? [Link](https://en.wikipedia.org/wiki/Seventeenth_Amendment_to_the_United_States_Constitution)

For 1920 forward, proceed like 1976. Prior to this, will need to use first table with general info.

* **Clean up NaN value table from top of pages** -- Use index 2 to grab  nested table from `'infobox vevent'`.
* **Take list of states of top tables** and map to dfs
* Get demographic info wikidata
* eda time series of state party (heatmap)
* NLP on names, etc.
* [link for slider viz](https://medium.com/@sjacks/the-journey-to-an-attractive-visualization-bac019506a49)

## Building code

In [7]:
reload(dlf)

In [3]:
# elect_yr_tables, elect_yr_tocs = wiki_senate_scraper()

# election_collection_raw = election_collector(elect_yr_tables, elect_yr_tocs)

In [4]:
## This works for all years up until 2018 (doesnt have these tables)

# yr_sum_tables = dlf.yr_summary_collector(election_collection_raw)
# yr_sum_dict = dlf.yr_sum_formatter(yr_sum_tables)
# name_lookup_df = dlf.master_tabler(yr_sum_dict)

In [8]:
# yr_st_elects = dlf.st_election_collector(election_collection_raw)
# print(('---'*10)+'Step 1 Complete!'+('---'*10))
# print('yr_st_elects length:', len(yr_st_elects))

# yr_st_dict = dlf.st_election_cleaner(yr_st_elects)
# print(('---'*10)+'Step 2 Complete!'+('---'*10))

# yr_st_dict_joined = dlf.st_election_aggregator(yr_st_dict)
# print(('---'*10)+'Step 3 Complete!'+('---'*10))

# yr_st_dict_mapped = dlf.st_election_state_mapper(yr_st_dict_joined, name_lookup_df)
# print(('---'*10)+'Step 4 Complete!'+('---'*10))

yr_st_mapped_full = dlf.yr_st_mapped_NA_handler(yr_st_dict_mapped)
print(('---'*10)+'Step 5 Complete!'+('---'*10))

yr_st_mapped_cln = dlf.st_mapped_cleaner(yr_st_mapped_full, name_lookup_df, ldr_master_df_model)
print(('---'*10)+'Step 6 Complete!'+('---'*10))

# 5355 rows total i.e. 6 days until all gender info is filled (found with for loop-list into array sum)

4 NA operations completed.
------------------------------Step 5 Complete!------------------------------
20 loops done! Just finished 1958.
20 loops done! Just finished 1998.
Finished 49 years! Latest year collected 2016.
------------------------------Step 6 Complete!------------------------------

In [9]:
fin_df = dlf.cln_st_combiner(yr_st_mapped_cln)
# # print('Length:', len(fin_df))
# # display(fin_df.head(10))
# # display(fin_df.tail(10))

In [7]:
# sen_leader_tables = dlf.sen_leader_collector(election_collection_raw)

# sen_leader_dict = dlf.sen_leader_cleaner(sen_leader_tables)

# test = dlf.table_checker(dict_=sen_leader_dict)
# print(type(test))
# test

In [8]:
# ldr_master_df = dlf.master_leader_tabler(sen_leader_dict)
# ldr_master_df

# ldr_master_df_model = dlf.master_leader_cleaner(ldr_master_df, rd_stand=True, fillna_stand=True)
# ldr_master_df_model = dlf.regex_subber_bycol(ldr_master_df_model, 'Leader', 
#                                          [r'\(([^\)]+)\)', r'\[([^\)]+)\]'],
#                                          multi_patt=True)
# ldr_master_df_model

## Pickless....

### Writing..

In [9]:
# with open('election_collection_raw.pickle', 'wb') as f:
#     pickle.dump(election_collection_raw, f)
#     f.close()

In [10]:
# with open('yr_sum_tables.pickle', 'wb') as f:
#     pickle.dump(yr_sum_tables, f)
#     f.close()

In [11]:
# with open('yr_sum_dict.pickle', 'wb') as f:
#     pickle.dump(yr_sum_dict, f)
#     f.close()

In [12]:
# with open('name_lookup_df.pickle', 'wb') as f:
#     pickle.dump(name_lookup_df, f)
#     f.close()

In [13]:
# with open('yr_st_elects.pickle', 'wb') as f:
#     pickle.dump(yr_st_elects, f)
#     f.close()

In [14]:
# with open('yr_st_dict.pickle', 'wb') as f:
#     pickle.dump(yr_st_dict, f)
#     f.close()

In [15]:
# with open('yr_st_dict_joined.pickle', 'wb') as f:
#     pickle.dump(yr_st_dict_joined, f)
#     f.close()

In [16]:
# with open('yr_st_dict_mapped.pickle', 'wb') as f:
#     pickle.dump(yr_st_dict_mapped, f)
#     f.close()

In [11]:
with open('yr_st_mapped_full.pickle', 'wb') as f:
    pickle.dump(yr_st_mapped_full, f)
    f.close()

In [12]:
with open('yr_st_mapped_cln.pickle', 'wb') as f:
    pickle.dump(yr_st_mapped_cln, f)
    f.close()

In [19]:
# with open('sen_leader_tables.pickle', 'wb') as f:
#     pickle.dump(sen_leader_tables, f)
#     f.close()

In [20]:
# with open('sen_leader_dict.pickle', 'wb') as f:
#     pickle.dump(sen_leader_dict, f)
#     f.close()

In [21]:
# with open('ldr_master_df.pickle', 'wb') as f:
#     pickle.dump(ldr_master_df, f)
#     f.close()

In [22]:
# with open('ldr_master_df_model.pickle', 'wb') as f:
#     pickle.dump(ldr_master_df_model, f)
#     f.close()

In [13]:
fin_df.to_csv(r'C:\Users\d_ful\Documents\GitHub\Capstone_Project\Senate_generals_thru_2016', index=False)

### Reading..

In [24]:
# with open('election_collection_raw.pickle', 'rb') as f:
#     election_collection_raw = pickle.load(f)
#     f.close()

In [25]:
# with open('yr_sum_tables.pickle', 'rb') as f:
#     yr_sum_tables = pickle.load(f)
#     f.close()

In [26]:
# with open('yr_sum_dict.pickle', 'rb') as f:
#     yr_sum_dict = pickle.load(f)
#     f.close()

In [2]:
with open('name_lookup_df.pickle', 'rb') as f:
    name_lookup_df = pickle.load(f)
    f.close()

In [28]:
# with open('yr_st_elects.pickle', 'rb') as f:
#     yr_st_elects = pickle.load(f)
#     f.close()

In [29]:
# with open('yr_st_dict.pickle', 'rb') as f:
#     yr_st_dict = pickle.load(f)
#     f.close()

In [30]:
# with open('yr_st_dict_joined.pickle', 'rb') as f:
#     yr_st_dict_joined = pickle.load(f)
#     f.close()

In [3]:
with open('yr_st_dict_mapped.pickle', 'rb') as f:
    yr_st_dict_mapped = pickle.load(f)
    f.close()

In [32]:
# with open('yr_st_mapped_full.pickle', 'rb') as f:
#     yr_st_mapped_full = pickle.load(f)
#     f.close()

In [4]:
with open('yr_st_mapped_cln.pickle', 'rb') as f:
    yr_st_mapped_cln = pickle.load(f)
    f.close()

In [34]:
# with open('sen_leader_tables.pickle', 'rb') as f:
#     sen_leader_tables = pickle.load(f)
#     f.close()

In [35]:
# with open('sen_leader_dict.pickle', 'rb') as f:
#     sen_leader_dict = pickle.load(f)
#     f.close()

In [36]:
# with open('ldr_master_df.pickle', 'rb') as f:
#     ldr_master_df = pickle.load(f)
#     f.close()

In [5]:
with open('ldr_master_df_model.pickle', 'rb') as f:
    ldr_master_df_model = pickle.load(f)
    f.close()

In [38]:
## Must do this befor running code for state elections. Error in code
# do_not_use = election_collection_raw['2018'][2].pop(0)

## Workshop

### Dfs

Need to go through and format these tables across all elections. then can finally take info from each of the sections to create final year dataframes

In [37]:
# reload(dlf)

In [38]:
display(ldr_master_df_model.head(15))
ldr_master_df_model.info()

,Leader,Leaders_seat,Leader_since,Party,Seats_up,Seats_before,Year
0,Mitch McConnell,Kentucky,"January 3, 2007",Republican,9,51,2018
1,Chuck Schumer,New York,"January 3, 2017",Democratic,24,47,2018
2,3rd Party,3rd Party,"January 3, 2017",Independent,2,2,2018
3,John W. Kern,Indiana,"March 4, 1913",Democratic,16,50,1914
4,Jacob H. Gallinger,New Hampshire,"March 4, 1913",Republican,18,44,1914
5,3rd Party,3rd Party,"March 4, 1913",Progressive,0,1,1914
6,John W. Kern,Indiana,"March 4, 1913",Democratic,17,56,1916
7,Jacob H. Gallinger,New Hampshire,"March 4, 1913",Republican,15,40,1916
8,Henry Cabot Lodge,Massachusetts,"March 4, 1919",Republican,17,43,1918
9,Oscar Underwood,Alabama,"April 27, 1920",Democratic,24,53,1918
10,Henry Cabot Lodge,Massachusetts,"March 4, 1919",Republican,15,49,1920
11,Oscar Underwood,Alabama,"April 27, 1920",Democratic,17,47,1920
12,Henry Cabot Lodge,Massachusetts,"March 4, 1919",Republican,17,60,1922
13,Oscar Underwood,Alabama,"April 27, 1920",Democratic,15,36,1922
14,3rd Party,3rd Party,"April 27, 1920",Farmer–Labor,0,0,1922

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
Leader          148 non-null object
Leaders_seat    148 non-null object
Leader_since    148 non-null object
Party           148 non-null object
Seats_up        148 non-null object
Seats_before    148 non-null object
Year            148 non-null object
dtypes: object(7)
memory usage: 8.2+ KB

In [39]:
# test = name_lookup_df[name_lookup_df['Year']=='1986'].copy()
# test

In [10]:
# test2 = yr_st_mapped_full['1934'].copy()
test2 = yr_st_mapped_cln['2006'].copy()
# test2['Terms_in_office'] = 0
test2

,%,Turnout,Incumb_Y,State,Cln_name,Year,Terms_in_office,Party_enc,First_name,Seats_up%,Seats_before%
0,53.34,1526782.0,1,Arizona,Jon Kyl,2006,2,R,Jon,0.272727,0.55
1,43.5,1526782.0,0,Arizona,Jim Pederson,2006,0,D,Jim,0.340909,0.44
2,3.16,1526782.0,0,Arizona,Richard Mack,2006,0,T,Richard,0.000000,0.00
3,59.43,8899059.0,1,California,Dianne Feinstein,2006,3,D,Dianne,0.340909,0.44
4,35.02,8899059.0,0,California,Dick Mountjoy,2006,0,R,Dick,0.272727,0.55
5,1.72,8899059.0,0,California,Todd Chretien,2006,0,T,Todd,0.000000,0.00
6,1.57,8899059.0,0,California,Michael Metti,2006,0,T,Michael,0.000000,0.00
7,1.38,8899059.0,0,California,Marsha Feinland,2006,0,T,Marsha,0.000000,0.00
8,0.88,8899059.0,0,California,Don Grundmann,2006,0,T,Don,0.000000,0.00
9,0,8899059.0,0,California,Kent Mesplay,2006,0,T,Kent,0.000000,0.00
10,0,8899059.0,0,California,Jeffrey Mackler,2006,0,I,Jeffrey,1.000000,0.01
11,0,8899059.0,0,California,Lea Sherman,2006,0,I,Lea,1.000000,0.01
12,0,8899059.0,0,California,Connor Vlakancic,2006,0,I,Connor,1.000000,0.01
13,49.7,1134777.0,1,Connecticut,Joe Lieberman,2006,3,D,Joe,0.340909,0.44
14,39.7,1134777.0,0,Connecticut,Ned Lamont,2006,0,D,Ned,0.340909,0.44
15,9.6,1134777.0,0,Connecticut,Alan Schlesinger,2006,0,R,Alan,0.272727,0.55
16,0.6,1134777.0,0,Connecticut,Ralph Ferrucci,2006,0,T,Ralph,0.000000,0.00
17,0.4,1134777.0,0,Connecticut,Timothy Knibbs,2006,0,T,Timothy,0.000000,0.00
18,0,1134777.0,0,Connecticut,Carl Vassar,2006,0,T,Carl,0.000000,0.00
19,67.13,254099.0,1,Delaware,Thomas Carper,2006,0,D,Thomas,0.340909,0.44
20,27.44,254099.0,0,Delaware,Jan Ting,2006,0,R,Jan,0.272727,0.55
21,1.05,254099.0,0,Delaware,William Morris,2006,0,T,William,0.000000,0.00
22,60.3,4793534.0,1,Florida,Bill Nelson,2006,1,D,Bill,0.340909,0.44
23,38.1,4793534.0,0,Florida,Katherine Harris,2006,0,R,Katherine,0.272727,0.55
24,61.4,342842.0,1,Hawaii,Daniel Akaka,2006,4,D,Daniel,0.340909,0.44
25,36.8,342842.0,0,Hawaii,Cynthia Thielen,2006,0,R,Cynthia,0.272727,0.55
26,1.9,342842.0,0,Hawaii,Lloyd Mallan,2006,0,T,Lloyd,0.000000,0.00
27,87.3,1341111.0,1,Indiana,Richard Lugar,2006,5,R,Richard,0.272727,0.55
28,12.6,1341111.0,0,Indiana,Steve Osborn,2006,0,T,Steve,0.000000,0.00
29,0.1,1341111.0,0,Indiana,Write-Ins,2006,0,T,Write-Ins,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...
73,29.5,218154.0,0,North_Dakota,Dwight Grotberg,2006,0,R,Dwight,0.272727,0.55
74,56.16,4019236.0,0,North_Dakota,Sherrod Campbell Brown,2006,0,D,Campbell,0.340909,0.44
75,43.82,4019236.0,1,North_Dakota,Richard Michael DeWine,2006,0,R,Michael,0.272727,0.55
76,58.64,4081043.0,0,North_Dakota,"Bob Casey,",2006,0,D,Bob,0.340909,0.44
77,41.28,4081043.0,1,Pennsylvania,Rick Santorum,2006,2,R,Rick,0.272727,0.55
78,53.52,384993.0,0,Rhode_Island,Sheldon Whitehouse,2006,0,D,Sheldon,0.340909,0.44
79,46.48,384993.0,1,Rhode_Island,Lincoln Chafee,2006,2,R,Lincoln,0.272727,0.55
80,50.7,1833693.0,0,Tennessee,Bob Corker,2006,0,R,Bob,0.272727,0.55
81,48,1833693.0,0,Tennessee,"Harold Ford,",2006,0,D,Harold,0.340909,0.44
82,61.69,4314663.0,1,Texas,Kay Bailey Hutchison,2006,3,R,Bailey,0.272727,0.55
83,36.04,4314663.0,0,Texas,Barbara Ann Radnofsky,2006,0,D,Ann,0.340909,0.44
84,2.26,4314663.0,0,Texas,Scott Jameson,2006,0,T,Scott,0.000000,0.00
85,62.36,571252.0,1,Utah,Orrin Hatch,2006,5,R,Orrin,0.272727,0.55
86,31.06,571252.0,0,Utah,Pete Ashdown,2006,0,D,Pete,0.340909,0.44
87,0.78,571252.0,0,Utah,Dave Seely,2006,0,T,Dave,0.000000,0.00
88,32.3,262419.0,0,Utah,Richard Tarrant,2006,0,R,Richard,0.272727,0.55
89,0.31,262419.0,0,Utah,Peter Diamondstone,2006,0,T,Peter,0.000000,0.00
90,49.59,2370445.0,0,Virginia,Jim Webb,2006,0,D,Jim,0.340909,0.44
91,49.2,2370445.0,1,Virginia,George Allen,2006,1,R,George,0.272727,0.55
92,1.1,2370445.0,0,Virginia,Gail Parker,2006,0,T,Gail,0.000000,0.00
93,56.85,2083734.0,1,Washington,Maria Cantwell,2006,1,D,Maria,0.340909,0.44
94,39.93,2083734.0,0,Washington,Mike McGavick,2006,0,R,Mike,0.272727,0.55
95,1.41,2083734.0,0,Washington,Bruce Guthrie,2006,0,T,Bruce,0.000000,0.00
96,1.02,2083734.0,0,Washington,Aaron Dixon,2006,0,T,Aaron,0.000000,0.00
97,64.4,459884.0,1,West_Virginia,Robert Byrd,2006,8,D,Robert,0.340909,0.44
98,33.7,459884.0,0,West_Virginia,John Raese,2006,0,R,John,0.272727,0.55
99,67.31,2138297.0,1,Wisconsin,Herb Kohl,2006,3,D,Herb,0.340909,0.44
100,29.48,2138297.0,0,Wisconsin,Robert Lorge,2006,0,R,Robert,0.272727,0.55
101,69.99,193136.0,1,Wyoming,Craig Thomas,2006,2,R,Craig,0.272727,0.55
102,29.86,193136.0,0,Wyoming,Dale Groutage,2006,0,D,Dale,0.340909,0.44

In [49]:
fin_df.head(10)

,%,Turnout,Incumb_Y,State,Cln_name,Year,Terms_in_office,Party_enc,First_name,Seats_up%,Seats_before%
0,66.1,233985.0,1,Alabama,Oscar Underwood,1920,1,D,Oscar,0.361702,0.489583
1,33.05,233985.0,0,Alabama,Reynolds,1920,0,R,Reynolds,0.306122,0.510417
2,0.85,233985.0,0,Alabama,Forsman,1920,0,S,Forsman,0.000000,0.000000
3,69.27,231960.0,0,Alabama,James Thomas Heflin,1920,0,D,Thomas,0.361702,0.489583
4,29.51,231960.0,0,Alabama,Lunsford,1920,0,R,Lunsford,0.306122,0.510417
5,1.22,231960.0,0,Alabama,Chichester,1920,0,S,Chichester,0.000000,0.000000
6,55.17,65062.0,0,Arizona,Ralph Cameron,1920,0,R,Ralph,0.306122,0.510417
7,44.83,65062.0,1,Arizona,Marcus Smith,1920,2,D,Marcus,0.361702,0.489583
8,65.92,191858.0,0,Arkansas,Thaddeus Caraway,1920,0,D,Thaddeus,0.361702,0.489583
9,34.08,191858.0,0,Arkansas,Charles Cole,1920,0,R,Charles,0.306122,0.510417

In [ ]:
## OHE States, Party_enc
## Split % off as target
## RF/Tree Regressors 1st XGBoost?
## Keep year? Set_index as year (as datetime)
## Make sure Turnout is ok as int. #####################

## add first_name columns into df_fin ##################
## Make gender collection function
## pickle/to_csv funct/df to Yish for help

### Gender Stuff

In [34]:
g = Genderize()

In [ ]:
## If the gender is not 'None' fill it, else continue
## Try .get() for name Except "'Limit Error'" break

In [182]:
test2['Gender'] = 'None'

for idx, name in zip(test2.index, test2['First_name']):
    
    if test2['Gender'].iloc[idx] == 'None':
        pred = None
        try:
            guess = g_izer.get([name])[0]
        except:
            break

        if guess['gender'] == 'male':
            if guess['probability'] < .60:
                pred = 'female'
            else:
                pred = guess['gender']

        if guess['gender'] == 'female':
            if guess['probability'] < .60:
                pred = 'male'
            else:
                pred = guess['gender']

        test2.at[idx, 'Gender'] = pred

    
# test2.head()

,Party,Candidate,%,Turnout,Incumb_Y,State,Cln_name,Year,Terms_in_office,Party_enc,Seats_up%,Seats_before%,First_name,Gender
0,Democratic,Richard Shelby,50.28,1211897,0,Alabama,Richard Shelby,1986,0,D,0.255319,0.47,Richard,male
1,Republican,Jeremiah Denton,49.72,1211897,1,Alabama,Jeremiah Denton,1986,1,R,0.415094,0.53,Jeremiah,male
2,Republican,Frank Murkowski,54.02,180801,1,Alaska,Frank Murkowski,1986,1,R,0.415094,0.53,Frank,male
3,Democratic,Glenn Olds,44.1,180801,0,Alaska,Glenn Olds,1986,0,D,0.255319,0.47,Glenn,male
4,Republican,John McCain,60.47,862921,1,Arizona,John McCain,1986,0,R,0.415094,0.53,John,male

In [186]:
# display(test2.Gender.value_counts())
# test2[test2['Gender'] == 'male']['First_name'].value_counts()

male      82
female    10
Name: Gender, dtype: int64

John        7
Bob         4
Richard     3
Jim         3
Edward      2
Alan        2
James       2
Kent        2
Ed          2
Tom         2
Terry       2
Frank       2
Mark        2
Rick        1
Henry       1
Ralph       1
Wyche       1
Steve       1
Glenn       1
Jackson     1
Breck       1
Wendell     1
Don         1
Guy         1
Asa         1
Ken         1
Michael     1
Roger       1
Ray         1
Hugh        1
Dan         1
Endicott    1
Daniel      1
Kit         1
Robert      1
Mack        1
Fritz       1
Paul        1
Henson      1
Steven      1
Tim         1
Brock       1
Bradford    1
Jeremiah    1
Craig       1
Warren      1
Bruce       1
Dale        1
Arlen       1
Slade       1
Al          1
Fred        1
Jake        1
Harry       1
Rockland    1
William     1
Chuck       1
Chris       1
Patrick     1
Lance       1
Name: First_name, dtype: int64

### FEATURES

* Party_of_candidate **><**
* Turnout **><**
* Incumb_Y **><**
* State **><**
* Year **><**
* Terms_in_office **><**
* Majority_party_Y **><**
* Party_leader_Y (test with 1988)
* Seats_up (maybe % of seats before) **><**
* Seats_before (maybe % of total available) **><**

8.9 Need to try and merge `yr_st_dict_mapped`, `ldr_master_df` and use parts of `name_lookup_df`

8.12 Need to implement NA strats below then begin merging

**8.15 Look for more ways to engineer feats; Implement cleaning code into function. Group parties once all years are together. Make code to put in party of senate leader, majority party, and if third party in senate at all.**

#### Removal plan for 'Turnout'

**1928:** MA: 36-39 [1,524,914], PA: 91-97 [3,026,864]

**1930:** MA: 42-46 [1,207,011]

**1932:** AR: 6-8 [33,980], CO: 16-18 [425,634], NC: 87-88 [706,440]

**1934:** TN: 98-100 [308,274]

**1936:** MA: 41-50 [1,803,674]

**1942:** ID: 13-14 [142,342], RI: 73-74 [238,487] 

**1952:** MI: 34-39 [2,821,133]

**1958:** NC: 59-60 [616,469]

**1974:** IA: 45-47 [853,521]

**1976**: UT: 102-103 [514,169]

**1980**: OK: 83-87 [1,098,294]

**1986**: KY: 45-46 [677,105]

**1994**: HI: 20-22 [356,902]

**1998**: Just drop the other rows

**2000**: CT: 12-15 [1,311,261], MS: 61-65 [944,144], NJ: 80-90 [3,015,662], TN: 106-112 [1,928,613], TX: 113-116 [6,267,964], WV: 127-129 [603,477], WI: 130-135 [2,540,083] 

**2002**: AR: 7-8 [808,256], NH: 64-66 [444,542], NJ: 67-72 [2,112,604] 

**2004**: AR: 10-12 [1,039,439], CT: 24-27 [1,424,726]

**2006**: Just drop the other rows

**2012**: ME: 19-21 [693,787], MN: 34-36 [2,839,572]

* **1928**: MA doesn't report here. PA maybe under 'Totals'
* **1930**: MA doesn't report here.
* **1932**: AR/CO/NC doesn't report here.
* **1934**: TN doesn't report here.
* **1936**: MA maybe under 'total'
* **1942**: ID/RI doesn't report here.
* **1952**: MI doesn't report here.
* **1958**: NC doesn't report here.
* **1974**: IA doesn't report here.

* **1976**: UT doesn't report here.
* **1980**: OK doesn't report here.
* **1986**: KY doesn't report here.
* **1994**: Idx [3,4] need to be dropped. HI doesn't report here.
* **1998**: Idx [18-22] need to be dropped.
* **2000**: Idx [2-4] need to be dropped. CT/MS/NJ/TN/TX/WV/WI doesn't report here.
* **2002**: AR/NH/NJ doesn't report here.
* **2004**: AR/CT doesn't report here.
* **2006**: Idx [3-6] & [103-107] need to be dropped. 
* **2012**: ME/MN doesn't report here.

#### Removal plan for 'Candidate'

Only in 1932:
* **one** of these idx [30, 31, 32] needs to be changed to: 	Duncan U. Fletcher (Incumbent), Democratic, 1, Florida, 100%
* The rest need to be dropped.

#### %

* **1932**: Taken care of in 'Candidate'
* **1956**: Idx [68] needs to be changed to: 100%. Idx [69, 70] need to be dropped.
* **2012**: Idx [25, 26, 52, 53, 54] needs to be (53.74, 46.19, 58.87, 39.37, 0.50) resp.
* **2014**: Idx [91, 92, 93, 94] needs to be (48.82, 47.26, 3.74, 0.18) resp.

#### State

Just forward fill states after all other NAs have been filled or dropped.

**1924**: Idx [0-1] = 'Alabama'

**1950**: Idx [0-1] = 'Alabama'

**1960**: Idx [0-1] = 'Alabama'

**1962**: Idx [0-1] = 'Alabama'

**1966**: Idx [0-3] = 'Alabama'

**1992**: Idx [0-3] = 'Alabama'; Idx [4-9] DROP

#### Next..

In [4]:
# tester = {'1986':test2}
# test_res = st_mapped_cleaner(tester, name_lookup_df, ldr_master_df_model)
# test_res['1986']

In [5]:
# test = ldr_master_df_model[ldr_master_df_model['Year'] == '1934'].copy()
# test_cleaned = sen_leader_builder(test)
# display(test_cleaned)

# test_reidx = test_cleaned.set_index('Party_enc')['Seats_before%']
# display(test_reidx)

# test_done = test_reidx.groupby(level=0).sum()
# display(test_done)

# for idx, party in zip(test2.index, test2['Party']):
#     if party == 'Republican':
#         test2.at[idx, 'Party_enc'] = 'R'
#     elif party == 'Democratic':
#         test2.at[idx, 'Party_enc'] = 'D'
#     elif party == 'Independent':
#         test2.at[idx, 'Party_enc'] = 'I'
#     elif party == 'Socialist':
#         test2.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Labor':
#         test2.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Workers':
#         test2.at[idx, 'Party_enc'] = 'S'
#     else:
#         test2.at[idx, 'Party_enc'] = 'T'
        
# test2['Seats_up%'] = test2['Party_enc'].map(test_done)
# test2

In [49]:
## https://stackoverflow.com/questions/46049658/mapping-columns-from-one-dataframe-to-another-to-create-a-new-column
## https://stackoverflow.com/questions/35855772/pandas-merge-duplicate-index-into-single-index

# tester = test3.set_index('Party_enc')['Majority']
# test2['Majority'] = test2['Party_enc'].map(tester)
# test2['Majority'].fillna(0, inplace=True)
# display(test2['Majority'].value_counts())

# tester = test3.set_index('Party_enc')['Seats_up%']
# test2['Seats_up%'] = test2['Party_enc'].map(tester)
# test2['Seats_up%'].fillna(0, inplace=True)
# display(test2['Seats_up%'].value_counts())

# tester = test3.set_index('Party_enc')['Seats_before%']
# test2['Seats_before%'] = test2['Party_enc'].map(tester)
# test2['Seats_before%'].fillna(0, inplace=True)
# display(test2['Seats_before%'].value_counts())

# test2.head(10)

In [6]:
# test2['First_name'] = None
# for idx, name in zip(test2.index, test2['Cln_name']):
#     first = regex.findall(r'([A-Z]{1}[A-z]+\s{1})', name)
#     try:
#         first = first.pop()
#         first = first.strip()
#         test2.at[idx, 'First_name'] = first
#     except IndexError:
#         print(idx)
#         test2.at[idx, 'First_name'] = name
    
# test2.head()

In [33]:
# test = dlf.table_checker(dict_=yr_st_dict_joined)
# display(test.head(10))
# # print(test[0]['Total votes'])
# test.info()

In [48]:
# test1['State'].fillna(method='ffill', inplace=True)
# display(test1.head(15))
# display(test1.tail(15))
# test1.info()

In [58]:
# holder = []

# for year in yr_st_mapped_full:
#     table = yr_st_mapped_full[year].copy()
#     table_ = table[['Year', 'Party','Candidate']].copy()
#     holder.append(table_)
    
# all_party = pd.concat(holder, ignore_index=True)
# #all_party

# display(all_party['Party'].value_counts(normalize=True))

# all_party['Party_enc'] = None

# for idx, party in zip(all_party.index, all_party['Party']):
#     if party == 'Republican':
#         all_party.at[idx, 'Party_enc'] = 'R'
#     elif party == 'Democratic':
#         all_party.at[idx, 'Party_enc'] = 'D'
#     elif party == 'Independent':
#         all_party.at[idx, 'Party_enc'] = 'I'
#     elif party == 'Socialist':
#         all_party.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Labor':
#         all_party.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Workers':
#         all_party.at[idx, 'Party_enc'] = 'S'
#     else:
#         all_party.at[idx, 'Party_enc'] = 'T'
        
# all_party.head(25)

# display(all_party['Party_enc'].value_counts(normalize=True))

In [188]:
# test1 = dlf.table_checker(dict_=yr_st_mapped_full)
# display(test1.head(10))#[25:35])
# # print(test1[0]['Total votes'])
# # display(test1[test1['State'].isna()])
# # display(type(test1['%'][25]))
# test1.info()

In [187]:
# from genderize import Genderize

# g_izer = Genderize()#.get(["Slade"], language_id='en')

# tester = g_izer.get(['Mary'])[0]

# if tester['gender'] == 'male' and tester['probability'] > .60:
#     print(tester['gender'])
# elif tester['gender'] == 'male' and tester['probability'] < .60:
#     print('female')
    
# if tester['gender'] == 'female' and tester['probability'] > .60:
#     print(tester['gender'])
# elif tester['gender'] == 'female' and tester['probability'] < .60:
#     print('male')

# tester#['probability']

In [158]:
# test2.at[124, 'Candidate'] = 'Unknown'
# test2.at[125, 'Candidate'] = 'Unknown'
# # test2['Candidate'].value_counts()


# test2['Incumb_Y'] = 0
# test2['State'] = None
# if 'Candidate' in test2.columns:
#     test2['Cln_name'] = test2['Candidate'].map(lambda x: regex.sub(r'([A-z]{1,2}\.)\s?', '', x).strip())
#     test2['Cln_name'] = test2['Cln_name'].map(lambda x: regex.sub(r'\(([^\)]+)\)', '', x).strip())
#     test2['Cln_name'] = test2['Cln_name'].map(lambda x: regex.sub(r'\[([^\)]+)\]', '', x).strip())
#     ## Iterate over candidate's names 
#     for i, name in enumerate(test2['Candidate']):
#         ## Check if incumbent + prep for state lookup
#         if '(Incumbent)' in name:
#             name = name.replace(' (Incumbent)', '')
#             test2.at[i, 'Incumb_Y'] = 1

#         ## Helps to determine which are general elections + adding state
#         if name in list(name_lookup_df['Incumbent']):
#             state = name_lookup_df[name_lookup_df['Incumbent'] == name].copy()
#             state_n = state['State_id'].values

#             ## Accounting for special elections
#             for st in state_n:
#                 if not '(' in st:
#                     test2.at[i, 'State'] = st

# test2

In [3]:
# ## REFORMATTING % AS A FLOAT    
# for i, p in zip(test2.index, test2['%']):
#     if isinstance(p, str):
#         if '%' in p:
#             test2.at[i, '%'] = np.float(p[:-1])

# ## REMOVING () & [] FROM THE NAMES
# test2 = dlf.regex_subber_bycol(test2, 'Candidate', [r'\(([^\)]+)\)', r'\[([^\)]+)\]'], multi_patt=True)

# ## MAKING SURE THE NAMES MATCH

# # test2['Cln_name'] = test2['Candidate'].map(lambda x: regex.sub(r'([A-z]{1,2}\.)\s?', '', x).strip())
# # test['Cln_name'] = test['Incumbent'].map(lambda x: regex.sub(r'([A-z]{1,2}\.)\s?', '', x).strip())

# for n_idx, name in zip(test2.index, test2['Cln_name']):
#     for i_idx, incmb in zip(test.index, test['Cln_name']):
#         if incmb == name:
#             test2.at[n_idx, 'Terms_in_office'] = test['Terms_in_office'][i_idx]
            
#             if test2['Incumb_Y'][n_idx] != 1:
#                 test2.at[n_idx, 'Incumb_Y'] = 1  
        
#             if test2['Party'][n_idx] != test['Party'][i_idx]:
#                 test2.at[n_idx, 'Party'] = test['Party'][i_idx]         

                
# test2['Party_enc'] = None

# for idx, party in zip(test2.index, test2['Party']):
#     if party == 'Republican':
#         test2.at[idx, 'Party_enc'] = 'R'
#     elif party == 'Democratic':
#         test2.at[idx, 'Party_enc'] = 'D'
#     elif party == 'Independent':
#         test2.at[idx, 'Party_enc'] = 'I'
#     elif party == 'Socialist':
#         test2.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Labor':
#         test2.at[idx, 'Party_enc'] = 'S'
#     elif party == 'Socialist Workers':
#         test2.at[idx, 'Party_enc'] = 'S'
#     else:
#         test2.at[idx, 'Party_enc'] = 'T'              
        
# test2

To help with repeat due to edge cases, remove first instance of name from each table.