# Imports, Functions & Testing

In [1]:
import pandas as pd
import numpy as np
import requests
import re
import pickle
from bs4 import BeautifulSoup

In [3]:
def wiki_senate_scraper():
    import pandas as pd
    import numpy as np
    import requests
    from bs4 import BeautifulSoup
    
    ## Starting page + Q.C. of response
    start_url = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
    start_resp = requests.get(start_url)
    print(f'Starting Response: {start_resp}')
    
    ## Creating soup + pulling all links for senate elections after 17th amendment
    start_soup = BeautifulSoup(start_resp.text, 'html.parser')
    start_links = start_soup.findAll('a')
    start_sen_links = start_links[78:134] ## Previously located
    
    ## Base of url for all senate election pages
    base_url = 'https://en.wikipedia.org'
    
    ## Loop same process for all links + storage
    yr_dfs = {}
    yr_tocs = {}
    count = 0
    for link in start_sen_links:

        ## Q.C during execute
        count += 1
        if count in [25, 50]:
            print('Checkpoint! (25 loops)')
        
        ## Collecting strings for use
        end_url = link.get('href')
        year = link.get_text()
        full_url = base_url + end_url
        
        ## Making soup + collecting all tables
        link_resp = requests.get(full_url)
        link_soup = BeautifulSoup(link_resp.text, 'html.parser')
        link_tables = link_soup.findAll('table', attrs={'class': ['wikitable', 'infobox vevent', 'infobox']})
        
        ## Collecting list of states with elections in each year
        link_toc = link_soup.find('div', attrs={'id':'toc'})
        link_toc = link_toc.findAll('a', href=is_state)
        toc_list = [tag.get('href').replace('#', '') for tag in link_toc]
        
        ## Converting to dataframe + storage
        elect_df = pd.read_html(str(link_tables))
        yr_dfs[year] = elect_df
        yr_tocs[year] = toc_list
    
    print(f'Total pages scraped: {count}')
    return yr_dfs, yr_tocs

## https://www.crummy.com/software/BeautifulSoup/bs4/doc/#kinds-of-filters

In [4]:
def is_state(href):
    states_list = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 
                   'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia',
                   'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
                   'Kentucky', 'Louisiana', 'Maine', 'Maryland',
                   'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
                   'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New_Hampshire',
                   'New_Jersey', 'New_Mexico', 'New_York', 'North_Carolina',
                   'North_Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
                   'Rhode_Island', 'South_Carolina', 'South_Dakota',
                   'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia',
                   'Washington', 'West_Virginia', 'Wisconsin', 'Wyoming']
    for state in states_list:
        if state in href:
            return href

In [5]:
def election_collector(dict_tables, dict_lists):
    
    ## Requirement of proper dictionaries
    if dict_tables.keys() != dict_lists.keys():
        print('**WARNING**')
        print('Keys do not match in dictionaries passed. Adjust and try again.')
        return '***'*10
    
    ## Containers for results
    coll_elects = {}
    
    ## List creation for looping through dicts
    yr_list = list(dict_lists.keys())
    
    ## Looping + storage
    for year in yr_list:
        print('***'*10)
        print(f"Collecting {year}'s elections...")
        yr_tables = dict_tables[year]
        yr_toc = dict_lists[year]
        
        ## Creating containers to further separate data
        yr_sum_ldrs = yr_tables[2]
        most_tables = yr_tables[3:]
        yr_summary = []
        yr_states = []
        count = 0
        
        for i, df in enumerate(most_tables):
            if count < 1:
                if df.shape[1] is 6 and most_tables[i+1].shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
                    yr_summary.append(most_tables[i+1])
                    continue
                elif df.shape[1] is 6:
                    count += 1
                    yr_summary.append(most_tables[i])
            
            if df.shape[1] in [4,5,6] and df.shape[0] < 15:
                yr_states.append(most_tables[i])
        
        coll_elects[year] = [yr_sum_ldrs, yr_summary, yr_states]
        
    print('\n')
    print('---'*20)
    print(f'Collection Complete: Data is for {yr_list[0]} - {yr_list[-1]}')
    print('---'*20)
    return coll_elects

In [6]:
def yr_summary_collector(election_collection):
    
    ## Container for results
    yr_summaries = {}
    
    ## Extraction as a list for iteration
    for year in election_collection:
        elect_list = [election_collection[year]]
        
        ## Looping through year's collection
        for coll in elect_list:
            ## Container for mid-results
            holder = []
            ## Looping through each table in 'year summary' group
            for table in coll[1]:
                ## Variable to filter unwanted tables out
                has_elected = False
                ## Looping through each row in 'results' column (idx 4)
                for u in table.iloc[:,4]:
                ## Checking for str to 'flag' table as collectable
                    if isinstance(u, str) and 'elected' in u:
                        has_elected = True
                if has_elected == True:
                    holder.append(table)
            ## Check if multiple tables in 'year summary' group
            if len(holder) > 1:
                is_match = holder[0].iloc[1,:] == holder[1].iloc[1,:]
                ## Check if tables have matching headers for special 
                ## election years + storage
                if is_match.sum() == 3:
                    fin_tab = holder[1].append(holder[0], ignore_index=True)
                    yr_summaries[year] = fin_tab
            ## Storage of non-special election years
            else:
                try:
                    yr_summaries[year] = holder.pop()
                except:
                    continue
        
    return yr_summaries

In [7]:
def ref_tabler(summary_df, mod_df=True):
    ## Containers for mid-results
    st_list = []
    sntr_list = []
    
    ## Looping through states' names
    for state in summary_df['State']:
        ## Check/replace spaces with '_' + storage
        if ' ' in state:
            fmt_state = state.replace(' ', '_')
            st_list.append(fmt_state)
        else:
            st_list.append(state)
    ## Looping + storing senator names
    for name in summary_df['Senator']:
        sntr_list.append(name)

    ## Dataframe with Sentors as index + states as values
    state_ref_df = pd.DataFrame(st_list, index=sntr_list)
    state_ref_df.columns = ['State_id']
    
    ## Modifying list of states to that of the ref table OR not + return
    if mod_df:
        summary_df['State'] = st_list
        return summary_df, state_ref_df
    else:
        return state_ref_df

In [8]:
def yr_sum_formatter(yr_sum_dict, ref_table=True):
    ## Container for results + column helper
    res_dict = {}
    df_cols = ['State', 'Senator', 'Party', 'Electoral_History', 'Results', 'Candidates']
    
    ## Looping to each year's summary table
    for year in yr_sum_dict:
        ## Setting copy to modify + setting columns + rows to remove
        summary_df = yr_sum_dict[year].copy()
        summary_df.columns = df_cols
        drop_1 = summary_df.iloc[0]
        drop_2 = summary_df.iloc[1]
        
        ## Removing rows that match 'drop_' rows (former column info)
        for idx, row in summary_df.iterrows():
            if drop_1.equals(row):
                summary_df.drop(idx, inplace=True)
            elif drop_2.equals(row):
                summary_df.drop(idx, inplace=True)
        
        ## Resetting index to rangeIndex
        summary_df.reset_index(drop=True, inplace=True)
        
        ## Storing State-Senator lookup dataframe OR not
        if ref_table:
            summary_df, state_ref_df = ref_tabler(summary_df)
            res_dict[year] = [summary_df, state_ref_df]    
        else:
            res_dict[year] = summary_df
        
    ## Return results
    return res_dict

# Initial Data

> [Link to Dataset](https://dataverse.harvard.edu/dataset.xhtml?persistentId=doi:10.7910/DVN/PEJ5QU)

In [ ]:
df = pd.read_csv('dataverse_files/1976-2018-senate.csv', encoding='latin-1')
df.head()

In [ ]:
df.info()

In [ ]:
df[(df['state_po'] == 'AZ') & (df['year'] == 1976)]

In [ ]:
# len(df[df['candidate'].isna()])

# df['writein'].value_counts()

# for col in df:
#     display(df[col].value_counts())

# pd.Series.value_counts()

# Additional Data

Current set of features includes:
* Year of election
* State (encoded)
*

> [Link to Brookings](https://www.brookings.edu/multi-chapter-report/vital-statistics-on-congress/)

> [Link to BallotPedia](https://ballotpedia.org/Legislative_Branch)

> [Link to WikiPedia](https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections)

> [Link to Wiki-Category (U.S. Senator)](https://commons.wikimedia.org/wiki/Category:Senators_of_the_United_States)

## Testing tables 'infobox vevent'

In [ ]:
# url3 = 'https://en.wikipedia.org/wiki/1978_United_States_Senate_elections'
# response3 = requests.get(url3)
# print(response3)

# soup3 = BeautifulSoup(response3.text, 'html.parser')
# wiki_tables3 = soup3.findAll('table', attrs={'class': ['wikitable', 'infobox vevent']})

# print(type(wiki_tables3))

# test_df3 = pd.read_html(str(wiki_tables3))

# tester = test_df3[0]

In [ ]:
# https://stackoverflow.com/questions/27156278/index-pandas-dataframe-by-column-numbers-when-column-names-are-integers
# tester.columns = ['a', 'b', 'c']
# display(tester.iloc[6:18,0:3])

# display(test_df3[2])

In [ ]:
# url = 'https://en.wikipedia.org/wiki/1976_United_States_Senate_elections'
# response = requests.get(url)
# print(response)

# soup = BeautifulSoup(response.text, 'html.parser')
# wiki_tables = soup.findAll('table', attrs={'class': 'wikitable'})

# type(wiki_tables)

In [ ]:
# test_df = pd.read_html(str(wiki_tables))
# display(test_df[0])

# len(test_df)

## Pulling state election tables

In [ ]:
# ## Pulling Arizona gen election results
# tester = test_df[5].copy()
# print('O.G. Copy:')
# print('---'*20)
# display(tester)

# ## Setting columns manually + Q.C.
# tester.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
# print('\nNew Column Headers:')
# print('---'*20)
# display(tester)

# ## Dropping irrelevant information + Q.C.
# tester.drop(index=[0, 6, 8], inplace=True)
# print('\nDropping Rows:')
# print('---'*20)
# display(tester)

# ## Flip and place Turnout as its own feature + Q.C.
# for idx, v, k in zip(tester.index, tester.Null, tester.Null.isna()):
#     if not k:
#         #print(idx, v)
#         tester[v] = tester.Party[idx]

# ## Removing the row with turnout info/column with nulls + Q.C.
# try:
#     tester.drop(columns='Null', index=7, inplace=True)
#     print('\nFinal Version:')
#     print('---'*20)
#     display(tester)
# except:
#     print('Something went wrong!')

In [ ]:
# type(tester['Votes'][5]) # str

In [ ]:
# tester2 = gen_election_cleaner(test_df[6], verbose=2)

In [ ]:
# test_df[-1]

In [ ]:
# url2 = 'https://en.wikipedia.org/wiki/List_of_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [ ]:
# url2 = 'https://en.wikipedia.org/wiki/2018_United_States_Senate_elections'
# response2 = requests.get(url2)
# print(response2)

In [ ]:
# soup2 = BeautifulSoup(response2.text, 'html.parser')
# wiki_toc = soup2.find('div', attrs={'id':'toc'})
# wiki_toc = wiki_toc.findAll('a', href=is_state)
# display(wiki_toc[0:5])
# jiji = wiki_toc[0:5]

# jiji = [tag.get('href').replace('#', '') for tag in jiji]
# jiji = jiji
# jiji

## Working

In [ ]:
# test = wiki_links[78:134]
# beeb = test[0].get_text()
# geeb = 'https://en.wikipedia.org'
# geeb + beeb

In [ ]:
# display(elect_yr_dfs.keys())
# display(elect_yr_tocs.keys())
# display(len(elect_yr_dfs) == len(elect_yr_tocs))
# elect_yr_dfs.keys() != elect_yr_tocs.keys()
# list(elect_yr_dfs.keys())

In [ ]:
# elect_yr_dfs['1918']

In [ ]:
# elect_yr_tocs['1918']

In [ ]:
# year = '1924'

# for i, df in enumerate(elect_yr_dfs[year]):
#     print(i, df.shape)

# display(elect_yr_dfs[year][10])
# elect_yr_dfs[year][10].shape[1] is 6

In [ ]:
# koko = {v:elect_yr_dfs[v] for v in ['1918', '1924', '1976', '2016', '2018']}
# lplp = {v:elect_yr_tocs[v] for v in ['1918', '1924', '1976', '2016', '2018']}

In [ ]:
# year = '2016'

# for v in ftft[year]:
#     print(len(v))
    
# ftft[year][1]

In [ ]:
# yuyu = test_res[-1].append(test_res[-2], ignore_index=True)
# yuyu

In [ ]:
# yuyu = test_res[-1].iloc[1,:] == test_res[-2].iloc[1,:]
# yuyu.sum()

In [ ]:
# len(test_res)

## Getting it together

In [ ]:
# elect_yr_tables, elect_yr_tocs = wiki_senate_scraper()

# election_collection_raw = election_collector(elect_yr_tables, elect_yr_tocs)

In [ ]:
# for u in election_collection_raw[year][1][0].iloc[:,4]:
#     if isinstance(u, str) and 'elected' in u:
#         print('faslidfjasedfhaedfng')
        
# for u in election_collection_raw[year][1][1].iloc[:,4]:
#     if isinstance(u, str) and 'elected' in u:
#         print('faslidfjasedfhaedfng')

In [ ]:
# print(election_collection_raw[year][1][0].shape)
# print(election_collection_raw[year][1][1].shape)

In [ ]:
# test_list = [election_collection_raw[year][2][8], election_collection_raw[year][2][3]]
# for u in test_list:
    
#     display(u.iloc[:,2])

In [ ]:
# election_collection_raw[year][1][1]
# for i, df in enumerate(election_collection_raw[year][2]):
#     display(df)

## Loading `Election_Collection`

In [ ]:
# with open('election_collection_raw.pickle', 'wb') as f:
#     pickle.dump(election_collection_raw, f)
#     f.close()

In [9]:
with open('election_collection_raw.pickle', 'rb') as f:
    election_collection_raw = pickle.load(f)
    f.close()

In [100]:
## Must do this befor running code for state elections. Error in code
_ = election_collection_raw['2018'][2].pop(0)

,0,1,2,3,4,5
0,State(linked tosummaries below),Incumbent,Results,Candidates,NaN,NaN
1,Senator,Party,Electoralhistory,NaN,NaN,NaN
2,Minnesota(Class 2),Tina Smith,Democratic,2018 (Appointed),Interim appointee elected.,Tina Smith (Democratic) 53.0% Karin Housley (R...
3,Mississippi(Class 2),Cindy Hyde-Smith,Republican,2018 (Appointed),Interim appointee elected.,Cindy Hyde-Smith (Republican) 53.6%[27] Mike E...

## Separation/Cleaning

### Testing

In [ ]:
# test_res_dict = yr_sum_formatter(test_res)
# for table in test_res_dict['2008']:
#     display(table)

In [ ]:
# year = '2006'

# display(election_collection_raw.keys())
# print('\n')
# for grp in election_collection_raw[year]:
#     print(len(grp))
# print('\n')
# display(election_collection_raw[year][0])
# display(election_collection_raw[year][1])
# display(election_collection_raw[year][2])

In [ ]:
# test_list = []
# test_list.append(election_collection_raw['1918'])
# test_list.append(election_collection_raw['1920'])
# test_list.append(election_collection_raw['1976'])
# test_list.append(election_collection_raw['2006'])
# test_list.append(election_collection_raw['2008'])

# test_list = ['1918', '1920', '1976', '2006', '2008']
# test_dict = {}
# for year in test_list:
#     test_dict[year] = election_collection_raw[year]
# test_dict['2008']

In [ ]:
# type(election_collection_raw['1994'])

In [ ]:
# print(type(election_collection_raw['1920']))
# print(type(election_collection_raw['1976']))
# type(test_res['1920'])

In [ ]:
# test_res = yr_summary_collector(test_dict)
# for t in test_res:
#     display(test_res[t])

In [2]:
# def gen_election_cleaner(df, verbose=1):
#     import pandas as pd
    
#     df_cln = df.copy()
    
#     if verbose in [1,2]:
#         ## Printing startpoint
#         print('O.G. Copy:')
#         print('---'*20)
#         display(df_cln)

#     ## Setting columns manually + Q.C.
#     df_cln.columns = ['Null', 'Party', 'Candidate', 'Votes', '%of_Vote']
#     if verbose == 2:
#         print('\nNew Column Headers:')
#         print('---'*20)
#         display(df_cln)

#     ## Dropping irrelevant information + Q.C.
#     df_cln.drop(index=[0, 6, 8], inplace=True)
#     if verbose == 2:
#         print('\nDropping Rows:')
#         print('---'*20)
#         display(df_cln)

#     ## Flip and place Turnout as its own feature + Q.C.
#     for idx, v, k in zip(df_cln.index, df_cln['Null'], df_cln['Null'].isna()):
#         if not k:
#             df_cln[v] = df_cln['Party'][idx]

#     ## Removing the row with turnout info/column with nulls + Q.C.
#     df_cln.drop(columns='Null', index=7, inplace=True)
#     if verbose in [1,2]:
#         print('\nFinal Version:')
#         print('---'*20)
#         display(df_cln)

#     return df_cln

### Working..

**To map the tables to states I need to:**
* Loop through `election_collection_raw`
* Grab each section of state summaries
* Loop through each section
* Clean each state summary
* Place into container
* Loop through container
* Map each senator to the state
* Update table

In [ ]:
# year = '1994'

# for i, table in enumerate(election_collection_raw[year][2]):
#     print(i)
#     display(table)

# ## Confirmed idx 7, 9, 14 yr 1994
# test_5 = election_collection_raw[year][2][4]
# test_5

# # pd.DataFrame.drop()
# print(f'DF shape: {test_5.shape}')
# st_election_formatter(test_5)

# yr_st_dict['1994']
# yr_st_elects['2018'][0]

# display(yr_sum_dict['2020'])

In [141]:
for table in yr_st_dict['2006']:
    display(table)

        Party            Candidate   Votes      % Total votes
1  Republican  Jon Kyl (Incumbent)  297636  99.5%      297791
2  Republican            Write-ins     155  0.05%      297791

        Party     Candidate   Votes        % Total votes
1  Democratic  Jim Pederson  214455  100.00%      214455

         Party     Candidate Votes        % Total votes
1  Libertarian  Richard Mack  3311  100.00%        3311

         Party            Candidate   Votes       %        ± Majority  Turnout
1   Republican  Jon Kyl (Incumbent)  814398  53.34%  -25.98%   150257  1526782
2   Democratic         Jim Pederson  664141  43.50%  +43.50%   150257  1526782
3  Libertarian         Richard Mack   48231   3.16%   -1.90%   150257  1526782

                  Party         Candidate    Votes        %
1            Republican     Dick Mountjoy  1560472  100.00%
2  American Independent  Don J. Grundmann    30787  100.00%
3           Libertarian  Michael S. Metti    16742  100.00%
4     Peace and Freedom   Marsha Feinland     4109  100.00%

        Party                     Candidate   Votes      % Total votes
1  Democratic                    Ned Lamont  146587  51.8%      283055
2  Democratic  Joseph Lieberman (Incumbent)  136468  48.2%      283055

,Party,Candidate,Votes,%,Majority,Turnout
1,Connecticut for Lieberman,Joe Lieberman (incumbent),564095,49.7%,113251,1134777
2,Democratic,Ned Lamont,450844,39.7%,113251,1134777
3,Republican,Alan Schlesinger,109198,9.6%,113251,1134777
4,Green,Ralph Ferrucci,5922,0.6%,113251,1134777
5,Concerned Citizens,Timothy Knibbs,4638,0.4%,113251,1134777
6,Write-in,Carl E. Vassar,80,0.0%,113251,1134777

        Party            Candidate Votes       % Total votes
1  Republican             Jan Ting  6110  42.47%       14386
2  Republican   Michael D. Protack  5771  40.12%       14386
3  Republican  Christine O'Donnell  2505  17.41%       14386

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Thomas Carper (Incumbent),170567,67.13%,+11.60%,100833,254099
2,Republican,Jan Ting,69734,27.44%,-16.26%,100833,254099
5,Libertarian,William E. Morris,2671,1.05%,+0.71%,100833,254099

        Party          Candidate   Votes      % Turnout
1  Republican   Katherine Harris  474871  49.4%  960654
2  Republican       Will McBride  287741  30.0%  960654
3  Republican  LeRoy Collins Jr.  146712  15.3%  960654
4  Republican       Peter Monroe   51330   5.3%  960654

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Bill Nelson (Incumbent),2890548,60.3%,+9.8%,1064421,4793534
2,Republican,Katherine Harris,1826127,38.1%,-8.1%,1064421,4793534

        Party                    Candidate   Votes    % Total votes
1  Democratic  Daniel K. Akaka (Incumbent)  129158  55%      236321
2  Democratic                      Ed Case  107163  45%      236321

        Party        Candidate  Votes       % Total votes
1  Republican     Jerry Coffee  10139  41.01%       24724
2  Republican      Mark Beatty   6057  24.50%       24724
3  Republican  Akacase Collins   3146  12.72%       24724
4  Republican    Jay Friedheim   2299   9.30%       24724
5  Republican     Steve Tataii   1601   6.48%       24724
6  Republican  Eddie Pirkowski   1482   5.99%       24724

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Daniel Akaka (Incumbent),210330,61.4%,-11.5%,84233,342842
2,Republican,Cynthia Thielen,126097,36.8%,+12.3%,84233,342842
3,Libertarian,Lloyd Mallan,6415,1.9%,+1.0%,84233,342842

         Party                  Candidate    Votes      % Majority  Turnout
1   Republican  Richard Lugar (Incumbent)  1171553  87.3%  1002733  1341111
2  Libertarian               Steve Osborn   168820  12.6%  1002733  1341111
3     No party                  Write-Ins      738   0.1%  1002733  1341111

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Republican,Olympia Snowe (Incumbent),402598,74.01%,+5.5%,290614,543802
2,Democratic,Jean Hay Bright,111984,20.59%,-10.6%,290614,543802

         Party               Candidate   Votes       % Total votes
1   Republican       Michael S. Steele  190790  86.96%      219403
2   Republican             John Kimble    6280   2.86%      219403
3   Republican          Earl S. Gordon    4110   1.87%      219403
4   Republican  Daniel "Wig Man" Vovak    4063   1.85%      219403
5   Republican       Thomas J. Hampton    3946   1.80%      219403
6   Republican      Corrogan R. Vaughn    2565   1.17%      219403
7   Republican       Daniel Muffoletto    2335   1.06%      219403
8   Republican         Richard Shawver    2298   1.05%      219403
9   Republican                 Ray Bly    2114   0.96%      219403
10  Republican    Edward Raymond Madej     902   0.41%      219403

        Party          Candidate   Votes       %      ± Majority  Turnout
1  Democratic         Ben Cardin  965477  54.21%  -9.0%   178295  1781139
2  Republican  Michael S. Steele  787182  44.19%  +7.5%   178295  1781139

        Party      Candidate  Votes       % Total votes
1  Republican  Kenneth Chase  35497  50.94%       69676
2  Republican    Kevin Scott  34179  49.05%       69676

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Ted Kennedy (Incumbent),1500738,69.30%,-3.4[65],839206,2165490
2,Republican,Kenneth Chase,661532,30.55%,+17.7,839206,2165490

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Debbie Stabenow (Incumbent),2151278,56.9%,+7.4%,591681,3780142
2,Republican,Michael Bouchard,1559597,41.3%,-6.6%,591681,3780142
3,Libertarian,Leonard Schwartz,27012,0.7%,0%,591681,3780142
4,Green,David Sole,23890,0.6%,-0.3%,591681,3780142
5,Constitution,Dennis FitzSimons,18341,0.5%,+0.2%,591681,3780142

              Party       Candidate   Votes       % Total votes
1  Democratic (DFL)   Amy Klobuchar  294671  92.51%      318543
2  Democratic (DFL)  Darryl Stanton   23872   7.49%      318543

        Party        Candidate   Votes       % Total votes
1  Republican     Mark Kennedy  147091  90.21%      163057
2  Republican     John Uldrich   10025   6.15%      163057
3  Republican  Harold Shudlick    5941   3.64%      163057

          Party          Candidate Votes       % Total votes
1  Independence  Robert Fitzgerald  5520  51.61%       10695
2  Independence   Miles W. Collins  2600  24.31%       10695
3  Independence   Stephen Williams  2575  24.08%       10695

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic (DFL),Amy Jean Klobuchar,1278849,58.06%,+9.23%,443196,2202772
2,Republican,Mark Kennedy,835653,37.94%,-5.35%,443196,2202772
3,Independence,Robert Fitzgerald,71194,3.23%,-2.58%,443196,2202772
5,Constitution,Ben Powers,5408,0.25%,+0.15%,443196,2202772

        Party        Candidate  Votes       % Total votes
1  Democratic  Erik R. Fleming  46185  44.07%      104804
2  Democratic      Bill Bowlin  23175  22.11%      104804
3  Democratic    James O'Keefe  20815  19.86%      104804
4  Democratic  Catherine Starr  14629  13.96%      104804

        Party        Candidate  Votes       % Total votes
1  Democratic  Erik R. Fleming  19477  64.99%       29967
2  Democratic      Bill Bowlin  10490  35.01%       29967

         Party               Candidate   Votes       % Majority Turnout
1   Republican  Trent Lott (Incumbent)  388399  63.58%   175399  591178
2   Democratic         Erik R. Fleming  213000  34.87%   175399  591178
3  Libertarian           Harold Taylor    9522   1.56%   175399  591178

,Party,Candidate,Votes,%,±,Plurality,Turnout
1,Democratic,Claire McCaskill,1055255,49.6%,+0.9%,48314,2128459
2,Republican,Jim Talent (Incumbent),1006941,47.3%,-2.5%,48314,2128459
3,Libertarian,Frank Gilmour,47792,2.2%,+1.2%,48314,2128459

        Party        Candidate  Votes       % Total votes
1  Democratic       Jon Tester  65757  60.77%      108198
2  Democratic    John Morrison  38394  35.48%      108198
3  Democratic    Paul Richards   1636   1.51%      108198
4  Democratic    Robert Candee   1471   1.36%      108198
5  Democratic  Kenneth Marcure    940   0.87%      108198

        Party                  Candidate  Votes       % Total votes
1  Republican   Conrad Burns (Incumbent)  70434  72.26%       97473
2  Republican                 Bob Keenan  21754  22.32%       97473
3  Republican               Bob Kelleher   4082   4.19%       97473
4  Republican  Daniel Loyd Neste Huffman   1203   1.23%       97473

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Jon Tester,199845,49.16%,+1.92%,3562,406505
2,Republican,Conrad Burns (incumbent),196283,48.29%,-2.27%,3562,406505

        Party               Candidate  Votes        % Total votes
1  Democratic  Ben Nelson (Incumbent)  92501  100.00%       92501

        Party        Candidate   Votes       % Total votes
1  Republican    Pete Ricketts  129643  48.14%      269324
2  Republican     Don Stenberg   96496  35.83%      269324
3  Republican  David J. Kramer   43185  16.03%      269324

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Ben Nelson (incumbent),378388,63.88%,+12.88%,164460,590961
2,Republican,Pete Ricketts,213928,36.12%,-12.70%,164460,590961

        Party                 Candidate  Votes       % Total votes
1  Democratic               Jack Carter  92270  78.30%      117842
2  Democratic  None of these candidates  14425  12.24%      117842
3  Democratic              Ruby Jee Tun  11147   9.46%      117842

        Party                 Candidate   Votes       % Total votes
1  Republican   John Ensign (Incumbent)  127023  90.47%      140406
2  Republican  None of these candidates    6754   4.81%      140406
3  Republican               Ed Hamilton    6629   4.72%      140406

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Republican,John Ensign (Incumbent),322501,55.36%,+0.27%,83705,582572
2,Democratic,Jack Carter,238796,40.99%,+1.30%,83705,582572
4,Independent American,David K. Schumann,7774,1.33%,+0.91%,83705,582572
5,Libertarian,Brendan Trainor,5269,0.90%,+0.01%,83705,582572

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Bob Menendez (Incumbent),1200843,53.3%,+3.1%,203068,2250070
2,Republican,"Thomas Kean, Jr.",997775,44.3%,-2.8%,203068,2250070
3,Libertarian,Len Flynn,14637,0.7%,+0.4%,203068,2250070
5,Independent,J.M. Carter,7918,0.4%,+0.2%,203068,2250070
8,Socialist Workers,Angela Lariscy,3433,0.2%,+0.1%,203068,2250070
9,Socialist,Gregory Pason,2490,0.1%,+0.0%,203068,2250070

        Party                  Candidate   Votes        % Total votes
1  Democratic  Jeff Bingaman (Incumbent)  115198  100.00%      115198

        Party          Candidate  Votes       % Total votes
1  Republican    Allen McCulloch  29592  51.04%       57974
2  Republican  Joseph J. Carraro  18312  31.59%       57974
3  Republican      David Pfeffer  10070  17.37%       57974

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Jeff Bingaman (Incumbent),394365,70.61%,+8.90%,230539,558567
2,Republican,Allen McCulloch,163826,29.33%,-8.92%,230539,558567

        Party                           Candidate   Votes       % Total votes
1  Democratic  Hillary Rodham Clinton (Incumbent)  640955  83.00%      765954
2  Democratic                  Jonathan B. Tasini  124999  17.00%      765954

        Party       Candidate   Votes       % Total votes
1  Republican    John Spencer  114914  60.79%      189022
2  Republican  K.T. McFarland   74108  39.21%      189022

        Party                Candidate   Votes      %      ± Majority Turnout
1  Democratic  Kent Conrad (Incumbent)  150146  68.8%  +7.4%    85729  218154
2  Republican          Dwight Grotberg   64417  29.5%  -9.1%    85729  218154

        Party           Candidate   Votes       % Total votes
1  Democratic       Sherrod Brown  583776  78.11%      747404
2  Democratic  Merrill Kesier Jr.  163628  21.89%      747404

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Sherrod Campbell Brown,2257369,56.16%,+20.0%,452690,4019236
2,Republican,Richard Michael DeWine (Incumbent),1761037,43.82%,-15.8%,452690,4019236

        Party         Candidate   Votes      % Majority Turnout
1  Democratic    Bob Casey, Jr.  629271  84.5%   115591  744862
2  Democratic  Chuck Pennacchio   66364   8.9%   115591  744862
3  Democratic      Alan Sandals   48113   6.5%   115591  744862
4  Democratic            Others    1114   0.1%   115591  744862

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,"Bob Casey, Jr.",2392984,58.64%,+13.2%,710204,4081043
2,Republican,Rick Santorum (Incumbent),1684778,41.28%,-11.1%,710204,4081043

        Party             Candidate  Votes       % Total votes
1  Democratic    Sheldon Whitehouse  69290  81.53%       84984
2  Democratic  Christopher F. Young   8939  10.52%       84984
3  Democratic          Carl Sheeler   6755   7.95%       84984

        Party                   Candidate  Votes    % Total votes
1  Republican  Lincoln Chafee (Incumbent)  34936  54%       64483
2  Republican                Steve Laffey  29547  46%       64483

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Sheldon Whitehouse,206043,53.52%,+12.37%,27093,384993
2,Republican,Lincoln Chafee (Incumbent),178950,46.48%,-10.40%,27093,384993

        Party         Candidate   Votes      %     ± Majority  Turnout
1  Republican        Bob Corker  929911  50.7% -14.4    49935  1833693
2  Democratic  Harold Ford, Jr.  879976  48.0%  15.8    49935  1833693

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Republican,Kay Bailey Hutchison (Incumbent),2661789,61.69%,-4.65%,1106587,4314663
2,Democratic,Barbara Ann Radnofsky,1555202,36.04%,+3.69%,1106587,4314663
3,Libertarian,Scott Jameson,97672,2.26%,+1.10%,1106587,4314663

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Republican,Orrin Hatch (Incumbent),356238,62.36%,-3.22%,178779,571252
2,Democratic,Pete Ashdown,177459,31.06%,-0.45%,178779,571252
5,Libertarian,Dave Seely,4428,0.78%,-1.35%,178779,571252

           Party           Candidate  Votes      %       ± Majority Turnout
2     Republican     Richard Tarrant  84924  32.3%  -33.2%    86741  262419
6  Liberty Union  Peter Diamondstone    801  0.31%   -0.2%    86741  262419

        Party      Candidate  Votes       % Total votes
1  Democratic       Jim Webb  83298  53.47%      155784
2  Democratic  Harris Miller  72486  46.53%      155784

,Party,Candidate,Votes,%,±,Plurality,Turnout
1,Democratic,Jim Webb,1175606,49.59%,+1.91%,9329,2370445
2,Republican,George Allen (Incumbent),1166277,49.20%,-3.05%,9329,2370445
3,Independent Greens,Gail Parker,26102,1.10%,+1.10%,9329,2370445

        Party                    Candidate   Votes       %
1  Democratic   Maria Cantwell (Incumbent)  570677  90.76%
2  Democratic                    Hong Tran   33124   5.27%
3  Democratic               Mike The Mover   11274   1.79%
4  Democratic  Michael Goodspaceguy Nelson    9454   1.50%
5  Democratic             Mohammad H. Said    4222   0.67%

        Party              Candidate   Votes       %
1  Republican          Mike McGavick  397524  85.88%
2  Republican          Brad Klippert   32213   6.96%
3  Republican       Warren E. Hanson   17881   3.86%
4  Republican      B. Barry Massoudi    6410   1.38%
5  Republican     Gordon Allen Pross    5196   1.12%
6  Republican  William Edward Chovil    3670   0.79%

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Maria Cantwell (Incumbent),1184659,56.85%,+7.75%,343084,2083734
2,Republican,Mike McGavick,832106,39.93%,-9.02%,343084,2083734
3,Libertarian,Bruce Guthrie,29331,1.41%,+0.20%,343084,2083734
4,Green,Aaron Dixon,21254,1.02%,-0.02%,343084,2083734

        Party                Candidate   Votes      %
1  Democratic  Robert Byrd (Incumbent)  159154  85.7%
2  Democratic     Billy Hendricks, Jr.   26609  14.3%

        Party                Candidate  Votes      %
1  Republican               John Raese  47408  58.3%
2  Republican              Hiram Lewis  18496  22.7%
3  Republican             Rick Snuffer   4870   6.0%
4  Republican  Charles G. "Bud" Railey   4364   5.4%
5  Republican            Paul J. Brown   3464   4.3%
6  Republican             Zane Lawhorn   2723   3.3%

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Democratic,Robert Byrd (Incumbent),296276,64.4%,-13.3%,141233,459884
2,Republican,John Raese,155043,33.7%,+13.56%,141233,459884

              Party              Candidate   Votes       %
1        Democratic  Herb Kohl (Incumbent)  308178  85.66%
2        Democratic              Ben Masel   51245  14.24%
3  Democratic Party                  Other     335   0.09%

              Party     Candidate   Votes       %
1        Republican  Robert Lorge  194633  99.73%
2  Republican Party         Other     530   0.27%

        Party              Candidate    Votes       %      ± Majority  Turnout
1  Democratic  Herb Kohl (Incumbent)  1439214  67.31%  +5.8%   808915  2138297
2  Republican           Robert Lorge   630299  29.48%  -7.5%   808915  2138297

        Party      Candidate  Votes        % Total votes
1  Democratic  Dale Groutage  24924  100.00%       24924

        Party                 Candidate  Votes        % Total votes
1  Republican  Craig Thomas (Incumbent)  78211  100.00%       78211

,Party,Candidate,Votes,%,±,Majority,Turnout
1,Republican,Craig L. Thomas (Incumbent),135174,69.99%,-3.78%,77503,193136
2,Democratic,Dale Groutage,57671,29.86%,+7.82%,77503,193136

In [132]:
yr_st_elects = st_election_collector(election_collection_raw)
print(len(yr_st_elects))
yr_st_dict = st_election_cleaner(yr_st_elects, exclude=['2020', '2022', '2024'])

56

In [166]:
test = yr_sum_dict['2006'][1].loc['Jon Kyl'].pop('State_id')
print(type(test))
test

<class 'str'>

'Arizona'

In [168]:
year = '2006'
lookup_name = yr_sum_dict[year][1]

for table in yr_st_dict[year]:
    for name in table['Candidate']:
        if '(Incumbent)' in name:
            name = name.replace(' (Incumbent)', '')
        if name in list(lookup_name.index):
            state = lookup_name.loc[name].pop('State_id')
            
    break

Arizona

In [131]:
def st_election_cleaner(dict_of_lists, exclude=[]):
    st_gens_cln = {}

    for year in dict_of_lists:
        if year in exclude:
            continue
        coll = dict_of_lists[year]
        holder = []
        
        for table in coll:
            if table.shape[1] in [5,6]:
                try:
                    table_cln = st_election_formatter(table)
                    holder.append(table_cln)
                except KeyError as e:
                    print(f'Error!! {e}')
                    print(f'Year affected: {year}')
                    display(table)
        
        st_gens_cln[year] = holder
        
    return st_gens_cln

In [117]:
def st_election_collector(election_collection):
    
    ## Container for results
    st_elects = {}
    
    ## Extraction of each year's state elections
    for year in election_collection:
        elect_list = election_collection[year]
        st_elects[year] = elect_list[2]
        
    return st_elects

In [95]:
def st_election_formatter(df):
    df_cln = df.copy()
    
    cols = ['Drop']
    cols.extend(df_cln.iloc[0,:-1])
    df_cln.columns = cols
    df_cln.drop(0, inplace=True)
    
    for i, v, na in zip(df_cln.index, df_cln['Drop'], df_cln['Drop'].isna()):
        if not na:
            df_cln[v] = df_cln['Party'][i]
            
    df_cln.drop(columns='Drop', inplace=True)
    
    for col in df_cln:
        if df_cln[col].isna().sum() == df_cln.shape[0]:
            df_cln.drop(columns=col, inplace=True)
            
        elif df_cln[col].isna().sum() > 0:
            for i, v, na in zip(df_cln.index, df_cln[col], df_cln[col].isna()):
                if na:
                    df_cln.drop(i, inplace=True)
    
    return df_cln

In [20]:
count = 0
test_list = []
for table in election_collection_raw[year][2]:
    try:
        res = gen_election_cleaner(table, verbose=0)
        test_list.append(res)
        count += 1
    except:
        continue
        
    if count == 3:
        break

In [22]:
for t in test_list:
    display(t)

,Party,Candidate,Votes,%of_Vote,Total votes,Turnout
1,Democratic,Dianne Feinstein (Incumbent),3979152,46.74%,8636900,NaN
2,Republican,Michael Huffington,3817025,44.83%,8636900,NaN
3,Peace and Freedom,Elizabeth Cervantes Barron,255301,3.00%,8636900,NaN
4,Libertarian,Richard Benjamin Boddie,179100,2.10%,8636900,NaN
5,American Independent,Paul Meeuwenberg,142771,1.68%,8636900,NaN
9,8636900,100.00%,NaN,NaN,8636900,NaN
10,NaN,46.98%,NaN,NaN,8636900,NaN
11,Democratic hold,NaN,NaN,NaN,8636900,NaN

           Party          Candidate    Votes %of_Vote Total votes
1     Republican    Spencer Abraham  1578770    51.9%     3022869
2     Democratic           Bob Carr  1300960    42.8%     3022869
3    Libertarian           Jon Coon   128393     4.2%     3022869
4  Workers World  William Roundtree    20010     0.7%     3022869
5    Natural Law         Chris Wege    14746     0.5%     3022869

               Party            Candidate   Votes %of_Vote Majority
1         Republican            Rod Grams  869653    49.1%    87793
2         Democratic            Ann Wynia  781860    44.1%    87793
3             Reform         Dean Barkley   95400     5.4%    87793
4        Independent  Candice E. Sjostrom   15920     0.9%    87793
5  Natural Law Party      Stephen Johnson    5054     0.3%    87793
9    Republican hold                  NaN     NaN      NaN    87793

**To format the tables I need to:**
* For each table in the dictionary, set the columns to `'State', 'Senator', 'Party', 'Electoral_History', 'Results', 'Candidates'`.
* If any of the rows look like row 0 & 1, remove them.
* Store the formatted tables back into container

In [113]:
yr_sum_tables = yr_summary_collector(election_collection_raw)
yr_sum_dict = yr_sum_formatter(yr_sum_tables)

In [135]:
for table in yr_sum_dict['2006']:
    display(table)

,State,Senator,Party,Electoral_History,Results,Candidates
0,Arizona,Jon Kyl,Republican,19942000,Incumbent re-elected.,Jon Kyl (Republican) 53.3% Jim Pederson (Democ...
1,California,Dianne Feinstein,Democratic,1992 (Special)19942000,Incumbent re-elected.,Dianne Feinstein (Democratic) 59.4% Dick Mount...
2,Connecticut,Joe Lieberman,Democratic,198819942000,"Incumbent lost renomination, but re-elected.Co...",Joe Lieberman (Connecticut for Lieberman) 49.7...
3,Delaware,Tom Carper,Democratic,2000,Incumbent re-elected.,Tom Carper (Democratic) 67.1% Jan Ting (Republ...
4,Florida,Bill Nelson,Democratic,2000,Incumbent re-elected.,Bill Nelson (Democratic) 60.3% Katherine Harri...
5,Hawaii,Daniel Akaka,Democratic,1990 (Appointed)1990 (Special)19942000,Incumbent re-elected.,Daniel Akaka (Democratic) 61.4% Cynthia Thiele...
6,Indiana,Richard Lugar,Republican,19761982198819942000,Incumbent re-elected.,Richard Lugar (Republican) 87.3% Steve Osborn ...
7,Maine,Olympia Snowe,Republican,19942000,Incumbent re-elected.,Olympia Snowe (Republican) 74.4% Jean Hay Brig...
8,Maryland,Paul Sarbanes,Democratic,19761982198819942000,Incumbent retired.New senator elected.Democrat...,Ben Cardin (Democratic) 54.2% Michael Steele (...
9,Massachusetts,Ted Kennedy,Democratic,1962 (Special)1964197019761982198819942000,Incumbent re-elected.,Ted Kennedy (Democratic) 69.5% Kenneth Chase (...
10,Michigan,Debbie Stabenow,Democratic,2000,Incumbent re-elected.,Debbie Stabenow (Democratic) 56.9% Mike Boucha...
11,Minnesota,Mark Dayton,Democratic,2000,Incumbent retired.New senator elected.Democrat...,Amy Klobuchar (Democratic-Farmer-Labor) 58.1% ...
12,Mississippi,Trent Lott,Republican,198819942000,Incumbent re-elected.,Trent Lott (Republican) 63.6% Erik Fleming (De...
13,Missouri,Jim Talent,Republican,2002 (Special),Incumbent lost re-election.New senator elected...,Claire McCaskill (Democratic) 49.6% Jim Talent...
14,Montana,Conrad Burns,Republican,198819942000,Incumbent lost re-election.New senator elected...,Jon Tester (Democratic) 49.2% Conrad Burns (Re...
15,Nebraska,Ben Nelson,Democratic,2000,Incumbent re-elected.,Ben Nelson (Democratic) 63.9% Pete Ricketts (R...
16,Nevada,John Ensign,Republican,2000,Incumbent re-elected.,John Ensign (Republican) 55.4% Jack Carter (De...
17,New_Jersey,Bob Menendez,Democratic,2006 (Appointed),Interim appointee elected.,Bob Menendez (Democratic) 53.4% Thomas Kean Jr...
18,New_Mexico,Jeff Bingaman,Democratic,1982198819942000,Incumbent re-elected.,Jeff Bingaman (Democratic) 70.6% Allen McCullo...
19,New_York,Hillary Clinton,Democratic,2000,Incumbent re-elected.,Hillary Clinton (Democratic) 67.0% John Spence...
20,North_Dakota,Kent Conrad,Democratic,19861992 (Retired)1992 (Special)19942000,Incumbent re-elected.,Kent Conrad (Democratic) 68.8% Dwight Grotberg...
21,Ohio,Mike DeWine,Republican,19942000,Incumbent lost re-election.New senator elected...,Sherrod Brown (Democratic) 56.2% Mike DeWine (...
22,Pennsylvania,Rick Santorum,Republican,19942000,Incumbent lost re-election.New senator elected...,Bob Casey Jr. (Democratic) 58.7% Rick Santorum...
23,Rhode_Island,Lincoln Chafee,Republican,1999 (Appointed)2000,Incumbent lost re-election.New senator elected...,Sheldon Whitehouse (Democratic) 53.5% Lincoln ...
24,Tennessee,Bill Frist,Republican,19942000,Incumbent retired.New senator elected.Republic...,Bob Corker (Republican) 50.7% Harold Ford Jr. ...
25,Texas,Kay Bailey Hutchison,Republican,1993 (Special)19942000,Incumbent re-elected.,Kay Bailey Hutchison (Republican) 61.7% Barbar...
26,Utah,Orrin Hatch,Republican,19761982198819942000,Incumbent re-elected.,Orrin Hatch (Republican) 62.6% Pete Ashdown (D...
27,Vermont,Jim Jeffords,Independent,198819942000,Incumbent retired.New senator elected.Independ...,Bernie Sanders (Independent) 65.4% Richard Tar...
28,Virginia,George Allen,Republican,2000,Incumbent lost re-election.New senator elected...,Jim Webb (Democratic) 49.6% George Allen (Repu...
29,Washington,Maria Cantwell,Democratic,2000,Incumbent re-elected.,Maria Cantwell (Democratic) 56.85% Mike McGavi...
30,West_Virginia,Robert Byrd,Democratic,19581964197019761982198819942000,Incumbent re-elected.,Robert Byrd (Democratic) 64.4% John Raese (Rep...
31,Wisconsin,Herb Kohl,Democratic,198819942000,Incumbent re-elected.,Herb Kohl (Democratic) 67.31% Robert Lorge (Re...
32,Wyoming,Craig L. Thomas,Republican,19942000,Incumbent re-elected.,Craig L. Thomas (Republican) 69.99% Dale Grout...

                           State_id
Jon Kyl                     Arizona
Dianne Feinstein         California
Joe Lieberman           Connecticut
Tom Carper                 Delaware
Bill Nelson                 Florida
Daniel Akaka                 Hawaii
Richard Lugar               Indiana
Olympia Snowe                 Maine
Paul Sarbanes              Maryland
Ted Kennedy           Massachusetts
Debbie Stabenow            Michigan
Mark Dayton               Minnesota
Trent Lott              Mississippi
Jim Talent                 Missouri
Conrad Burns                Montana
Ben Nelson                 Nebraska
John Ensign                  Nevada
Bob Menendez             New_Jersey
Jeff Bingaman            New_Mexico
Hillary Clinton            New_York
Kent Conrad            North_Dakota
Mike DeWine                    Ohio
Rick Santorum          Pennsylvania
Lincoln Chafee         Rhode_Island
Bill Frist                Tennessee
Kay Bailey Hutchison          Texas
Orrin Hatch                    Utah
Jim Jeffords                Vermont
George Allen               Virginia
Maria Cantwell           Washington
Robert Byrd           West_Virginia
Herb Kohl                 Wisconsin
Craig L. Thomas             Wyoming

* Create a table with names as index and state as values .loc name of candidates to get state value
* Use table of each year's general summary to then pull the general elections out of whole list (index 2 in colleciton) based upon names in table + non-uniform party column
    * Need to merge (if special election) tables in collection index 1

In [ ]:
test = {'1918': ['fire'], '1920': 'jet', '1976': 'hello'}
test['1918'].append('bromine')
for i in test:
    print(i)
print(test['1918'])

* 1924 = 10
* 1926 = 12
* 1928 = 10
* Pull only tables with `shape[1]` of 5 or 6.
* Table 2 is always summary of senate leaders

Why after the 17th amendment?? [Link](https://en.wikipedia.org/wiki/Seventeenth_Amendment_to_the_United_States_Constitution)

For 1920 forward, proceed like 1976. Prior to this, will need to use first table with general info.

* **Clean up NaN value table from top of pages** -- Use index 2 to grab  nested table from `'infobox vevent'`.
* **Take list of states of top tables** and map to dfs
* Get demographic info wikidata
* eda time series of state party (heatmap)
* NLP on names, etc.
* [link for slider viz](https://medium.com/@sjacks/the-journey-to-an-attractive-visualization-bac019506a49)